Repository desmos-labs/desmos, changes with the labels that .github/labeler.yml gives for each.
All labels: x/fees, x/profiles, x/relationships, x/subspaces, x/CLI, kind/build, kind/ci, kind/ADR

completely review the entire ADR
  docs/architecture/adr-007-address-generation-of-chain-link-proof.md
Labels: kind/ADR

docs: updated broken links inside profile messages specs jira: DCD-XXX
  x/profiles/spec/04-messages.md
Labels: x/profiles

fix: add missing subspaces authz migration
  proto/desmos/subspaces/v2/authz/authz.proto
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v2/authz.go
  x/subspaces/legacy/v2/authz.pb.go
  x/subspaces/legacy/v2/codec.go
  x/subspaces/legacy/v4/store.go
  x/subspaces/legacy/v4/store_test.go
  x/subspaces/module.go
Labels: x/subspaces

feat: add v4.3.0 upgrade handler
  app/app.go
  app/upgrades/v430/upgrade.go
Labels: none

fix: add missing subspaces authz migration
  proto/desmos/subspaces/v2/authz/authz.proto
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v2/authz.go
  x/subspaces/legacy/v2/authz.pb.go
  x/subspaces/legacy/v2/codec.go
  x/subspaces/legacy/v4/store.go
  x/subspaces/legacy/v4/store_test.go
  x/subspaces/module.go
Labels: x/subspaces

fix: fix profiles params migration
  x/profiles/keeper/migrations.go
  x/profiles/legacy/v5/types/models_params.go
  x/profiles/legacy/v7/store.go
  x/profiles/legacy/v7/store_test.go
  x/profiles/module.go
Labels: x/profiles

fix: fix profiles params upgrade
  x/profiles/keeper/migrations.go
  x/profiles/legacy/v5/types/models_params.go
  x/profiles/legacy/v7/store.go
  x/profiles/legacy/v7/store_test.go
  x/profiles/module.go
Labels: x/profiles

fixed subspaces migration
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v4/store.go
  x/subspaces/legacy/v4/store_test.go
  x/subspaces/module.go
Labels: x/subspaces

fixed subspaces module creation
  app/app.go
Labels: none

fixed subspaces migration
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v4/store.go
  x/subspaces/legacy/v4/store_test.go
  x/subspaces/module.go
Labels: x/subspaces

added changeset entry
  .changeset/entries/949c3ef6e6aaea51b5bb253dc3eedc16e6f3b9dd6dfbf0cbb7406719d61285d8.yaml
Labels: none

added changeset entry
  .changeset/entries/bf68d0c892177d2c1249cdacc6e9f283c42413d91a6fa33be87a8288ae5d2b0f.yaml
Labels: none

fixed build errors
  app/app.go
Labels: none

fix: add missing profiles params upgrade (#980)
  .changeset/entries/bf68d0c892177d2c1249cdacc6e9f283c42413d91a6fa33be87a8288ae5d2b0f.yaml
  x/profiles/keeper/migrations.go
  x/profiles/legacy/v5/types/models_params.go
  x/profiles/legacy/v7/store.go
  x/profiles/legacy/v7/store_test.go
  x/profiles/module.go
Labels: x/profiles

fix: add missing subspaces authz migration (#981)
  .changeset/entries/949c3ef6e6aaea51b5bb253dc3eedc16e6f3b9dd6dfbf0cbb7406719d61285d8.yaml
  app/app.go
  proto/desmos/subspaces/v2/authz/authz.proto
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v2/authz.go
  x/subspaces/legacy/v2/authz.pb.go
  x/subspaces/legacy/v2/codec.go
  x/subspaces/legacy/v4/store.go
  x/subspaces/legacy/v4/store_test.go
  x/subspaces/module.go
Labels: x/subspaces

updated on-chain upgrade test details
  .github/workflows/on-chain-upgrade.yml
Labels: kind/ci

updated changelog
  .changeset/entries/3a184bbe897e045ad77c088ea8c1170da446358153bcc5fdbaa33a1d68bc952f.yaml
  .changeset/entries/949c3ef6e6aaea51b5bb253dc3eedc16e6f3b9dd6dfbf0cbb7406719d61285d8.yaml
  .changeset/entries/bf68d0c892177d2c1249cdacc6e9f283c42413d91a6fa33be87a8288ae5d2b0f.yaml
  CHANGELOG.md
Labels: none

chore: release v4.3.0 (#983)
  .changeset/entries/3a184bbe897e045ad77c088ea8c1170da446358153bcc5fdbaa33a1d68bc952f.yaml
  .changeset/entries/949c3ef6e6aaea51b5bb253dc3eedc16e6f3b9dd6dfbf0cbb7406719d61285d8.yaml
  .changeset/entries/bf68d0c892177d2c1249cdacc6e9f283c42413d91a6fa33be87a8288ae5d2b0f.yaml
  .github/workflows/on-chain-upgrade.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v430/upgrade.go
Labels: kind/ci

feat: improve Proto namings, comments and definitions
  proto/desmos/profiles/v3/msgs_app_links.proto
  proto/desmos/profiles/v3/msgs_dtag_requests.proto
  proto/desmos/profiles/v3/msgs_profile.proto
  proto/desmos/relationships/v1/msgs.proto
  proto/desmos/subspaces/v3/msgs.proto
  x/profiles/types/msgs_app_links.pb.go
  x/profiles/types/msgs_dtag_requests.pb.go
  x/profiles/types/msgs_profile.pb.go
  x/relationships/types/msgs.pb.go
  x/subspaces/types/msgs.pb.go
Labels: x/profiles, x/relationships, x/subspaces

fix: added missing default external address messages wasm support
  x/profiles/types/wasm.go
  x/profiles/wasm/common_test.go
  x/profiles/wasm/msg_parser.go
  x/profiles/wasm/msg_parser_test.go
  x/profiles/wasm/querier.go
  x/profiles/wasm/querier_test.go
Labels: x/profiles

chore: update changeset
  .changeset/entries/c3b6f6719e57ff197e26269ed6f22192e4cc77ab4a99eecc2487c57ae98a7765.yaml
Labels: none

Update proto/desmos/subspaces/v3/msgs.proto
  proto/desmos/subspaces/v3/msgs.proto
Labels: none

fix: added missing default external address wasm support (#986)
  .changeset/entries/c3b6f6719e57ff197e26269ed6f22192e4cc77ab4a99eecc2487c57ae98a7765.yaml
  x/profiles/types/wasm.go
  x/profiles/wasm/common_test.go
  x/profiles/wasm/msg_parser.go
  x/profiles/wasm/msg_parser_test.go
  x/profiles/wasm/querier.go
  x/profiles/wasm/querier_test.go
Labels: x/profiles

feat: improve Proto naming, comments and definitions (#985)
  proto/desmos/profiles/v3/msgs_app_links.proto
  proto/desmos/profiles/v3/msgs_dtag_requests.proto
  proto/desmos/profiles/v3/msgs_profile.proto
  proto/desmos/relationships/v1/msgs.proto
  proto/desmos/subspaces/v3/msgs.proto
  x/profiles/types/msgs_app_links.pb.go
  x/profiles/types/msgs_dtag_requests.pb.go
  x/profiles/types/msgs_profile.pb.go
  x/relationships/types/msgs.pb.go
  x/subspaces/types/msgs.pb.go
Labels: x/profiles, x/relationships, x/subspaces

build: bump Go version to 1.18
  .github/workflows/benchmarks.yml
  .github/workflows/lint.yml
  .github/workflows/on-chain-upgrade.yml
  .github/workflows/release.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  contrib/images/desmos-builder/Dockerfile
  contrib/images/desmos-cosmovisor/Dockerfile
  go.mod
  go.sum
Labels: kind/ci

build(deps): bump Cosmos SDK to v0.45.7
  go.mod
  go.sum
  testutil/ibctesting/helper.go
  testutil/simtesting/utils.go
Labels: none

replaced go get with go install
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Makefile
  contrib/devtools/Makefile
  contrib/devtools/proto-tools-installer.sh
  contrib/githooks/README.md
  scripts/protocgen.sh
Labels: kind/build, kind/ci

increase linting timeout time
  .github/workflows/lint.yml
Labels: kind/ci

fixed sim tests
  app/sim_test.go
Labels: none

updated lint workflow
  .github/workflows/lint.yml
Labels: kind/ci

fixed golint-ci config
  .golangci.yml
Labels: kind/ci

fixed golint-ci config
  .golangci.yml
Labels: kind/ci

build(ci): fix lint workflow to use make lint
  .github/workflows/lint.yml
  .golangci.yml
Labels: kind/ci

added changeset entries
  .changeset/entries/1911f9f3a40965372a69aa2bff61e010cc22f87440e377267eecb57e32723fda.yaml
  .changeset/entries/76c4176d740fc86711411d8829b02b6843f201a8c88e8fa0a65ab2f1ac78bd8b.yaml
Labels: none

build(ci): fix lint workflow to use make lint (#989)
  .github/workflows/lint.yml
  .golangci.yml
Labels: kind/ci

build(deps): bump cosmos/cosmos-sdk to v0.45.7 and CosmWasm/wasmd to v0.28.0 (#988)
  .changeset/entries/1911f9f3a40965372a69aa2bff61e010cc22f87440e377267eecb57e32723fda.yaml
  .changeset/entries/76c4176d740fc86711411d8829b02b6843f201a8c88e8fa0a65ab2f1ac78bd8b.yaml
  .github/workflows/benchmarks.yml
  .github/workflows/lint.yml
  .github/workflows/on-chain-upgrade.yml
  .github/workflows/release.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Makefile
  app/sim_test.go
  contrib/devtools/Makefile
  contrib/devtools/proto-tools-installer.sh
  contrib/githooks/README.md
  contrib/images/desmos-builder/Dockerfile
  contrib/images/desmos-cosmovisor/Dockerfile
  go.mod
  go.sum
  scripts/protocgen.sh
  testutil/ibctesting/helper.go
  testutil/simtesting/utils.go
Labels: kind/build, kind/ci

fixed linting
  x/profiles/keeper/relay_app_links.go
  x/profiles/legacy/v5/types/models_chain_links.go
  x/profiles/simulation/utils.go
  x/profiles/types/models_chain_links.go
  x/profiles/types/msgs_app_links.go
  x/profiles/types/msgs_chain_links.go
Labels: x/profiles

fixed linting
  x/profiles/client/utils/utils.go
  x/profiles/types/models_packets.go
Labels: x/profiles, x/CLI

docs: added chain link test cases upgradation guide
  docs/core/chain_link.md
Labels: none

fix: typo and 3rd script
  docs/core/chain_link.md
Labels: none

.github/labeler.yml:

"x/fees":
  - x/fees/**/*
"x/profiles":
  - x/profiles/**/*
"x/relationships":
  - x/relationships/**/*
"x/subspaces":
  - x/subspaces/**/*
"x/CLI":
  - client/**/*
  - x/*/client/**/*
"kind/build":
  - Makefile
  - Dockerfile
  - docker-compose.yml
  - scripts/*
"kind/ci":
  - .github/**/*.yml
  - buf.yaml
  - .mergify.yml
  - .golangci.yml
"kind/ADR":
  - docs/architecture/**/*
