Repository desmos-labs/desmos, pull requests merged in 2020-07, with the labels that each got.

#204 Move posts' const to chain params
  CHANGELOG.md
  app/app.go
  docs/developers/msgs/edit_param_proposal.md
  docs/developers/queries/params.md
  docs/developers/queries/profile.md
  docs/developers/queries/profiles.md
  docs/developers/queries/reactions.md
  docs/developers/queries/reports.md
  docs/developers/query-data.md
  x/genutil/legacy/v0.8.0/migrate.go
  x/magpie/alias.go
  x/posts/abci.go
  x/posts/alias.go
  x/posts/client/cli/query.go
  x/posts/client/rest/query.go
  x/posts/genesis.go
  x/posts/internal/keeper/alias_functions.go
  x/posts/internal/keeper/common_functions.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/invariants.go
  x/posts/internal/keeper/invariants_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/params.go
  x/posts/internal/keeper/params_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/simulation/genesis.go
  x/posts/internal/simulation/params.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/genesis.go
  x/posts/internal/types/genesis_test.go
  x/posts/internal/types/models/alias.go
  x/posts/internal/types/models/common/keys.go
  x/posts/internal/types/models/post.go
  x/posts/internal/types/models/post_test.go
  x/posts/internal/types/msgs/msg_reactions_test.go
  x/posts/internal/types/msgs/msgs.go
  x/posts/internal/types/msgs/msgs_test.go
  x/posts/internal/types/params.go
  x/posts/internal/types/params_test.go
  x/posts/legacy/v0.6.0/types.go
  x/posts/legacy/v0.8.0/migrate.go
  x/posts/legacy/v0.8.0/migrate_test.go
  x/posts/legacy/v0.8.0/types.go
  x/posts/legacy/v0.8.0/v060state.json
  x/posts/module.go
  x/profiles/alias.go
  x/profiles/legacy/v0.8.0/migrate_test.go
  x/profiles/legacy/v0.8.0/v060state.json
  x/reports/alias.go
  x/reports/internal/keeper/common_test.go
  x/reports/internal/simulation/genesis.go
  x/reports/internal/types/alias.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#214 Multiple improvements
  CHANGELOG.md
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/profiles/internal/keeper/handler.go
  x/profiles/internal/keeper/handler_test.go
  x/profiles/internal/types/events.go
  x/profiles/internal/types/profile.go
  x/profiles/internal/types/profile_test.go
Labels: Kind:Enhancement

#216 Remove all the JSON-style String method
  CHANGELOG.md
  x/posts/internal/keeper/invariants_test.go
  x/posts/internal/types/models/post.go
  x/posts/internal/types/models/post_response_test.go
  x/posts/internal/types/models/post_test.go
  x/posts/internal/types/models/reactions/post_reaction.go
  x/posts/internal/types/models/reactions/post_reaction_test.go
  x/posts/internal/types/models/reactions/reaction.go
  x/posts/internal/types/models/reactions/reaction_test.go
  x/profiles/internal/simulation/decoder_test.go
  x/profiles/internal/types/profile.go
  x/profiles/internal/types/profile_test.go
  x/reports/internal/types/models/report.go
  x/reports/internal/types/models/report_test.go
Labels: Kind:Enhancement, Quality:Code cleanliness, Status:R4R

#217 Replace SetupTestInput with testify test suite
  CHANGELOG.md
  x/magpie/internal/keeper/common_test.go
  x/magpie/internal/keeper/handler_test.go
  x/magpie/internal/keeper/keeper_test.go
  x/magpie/internal/keeper/querier_test.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/invariants_test.go
  x/posts/internal/keeper/keeper_bench_test.go
  x/posts/internal/keeper/keeper_polls_test.go
  x/posts/internal/keeper/keeper_reactions_test.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/params_test.go
  x/posts/internal/keeper/querier_test.go
  x/profiles/internal/keeper/common_test.go
  x/profiles/internal/keeper/handler_test.go
  x/profiles/internal/keeper/invariants_test.go
  x/profiles/internal/keeper/keeper_test.go
  x/profiles/internal/keeper/params_test.go
  x/profiles/internal/keeper/querier_test.go
  x/profiles/internal/keeper/utils_functions_test.go
  x/reports/internal/keeper/common_test.go
  x/reports/internal/keeper/handler_test.go
  x/reports/internal/keeper/invariants_test.go
  x/reports/internal/keeper/keeper_test.go
  x/reports/internal/keeper/querier_test.go
Labels: Quality:Test, Status:R4R

#248 Docs fix
  docs/.vuepress/config.js
  docs/developers/msgs/create-post.md
  docs/developers/msgs/register-reaction.md
  docs/developers/msgs/report-post.md
  docs/types/posts/post-media.md
  docs/types/posts/post-poll-data.md
  docs/types/posts/post.md
  docs/types/posts/reaction.md
  docs/types/profiles/profile-chain-link.md
  docs/types/profiles/profile-pictures.md
  docs/types/profiles/profile-service-link.md
  docs/types/profiles/profile.md
  docs/types/reports/report.md
Labels: docs/improvement

#251 Post parameters queries endpoint renamed
  CHANGELOG.md
  docs/developers/queries/params.md
  x/posts/client/cli/query.go
  x/posts/client/rest/query.go
Labels: kind/enhancement, module/post

#250 Profile parameters queries endpoint FIX
  CHANGELOG.md
  docs/developers/queries/params.md
  x/profiles/client/cli/query.go
  x/profiles/client/rest/query.go
Labels: kind/bug, module/profile

#249 Doc improvements
  docs/.vuepress/config.js
  docs/fullnode/overview.md
  docs/fullnode/setup.md
  docs/fullnode/update.md
  docs/testnets/join-public.md
  docs/validators/setup.md
  x/posts/client/cli/query.go
  x/posts/client/rest/query.go
  x/profiles/client/cli/query.go
  x/profiles/client/rest/query.go
Labels: docs/improvement

#241 Revise the singular and plural forms of variables
  CHANGELOG.md
  cli_test/cli_posts_test.go
  cli_test/cli_reports_test.go
  docs/.vuepress/config.js
  docs/developers/msgs/create-post.md
  docs/types/posts/attachment.md
  docs/types/posts/post-media.md
  docs/types/posts/post.md
  docs/validators/upgrades/automatic/setup.md
  docs/validators/upgrades/manual.md
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v0.10.0/migrate.go
  x/posts/client/cli/keys.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/rest.go
  x/posts/keeper/common_test.go
  x/posts/keeper/handler.go
  x/posts/keeper/handler_test.go
  x/posts/keeper/invariants_test.go
  x/posts/keeper/keeper_bench_test.go
  x/posts/keeper/keeper_test.go
  x/posts/keeper/querier_test.go
  x/posts/legacy/v0.10.0/migrate.go
  x/posts/legacy/v0.10.0/migrate_test.go
  x/posts/legacy/v0.10.0/types.go
  x/posts/legacy/v0.10.0/v080state.json
  x/posts/simulation/decoder_test.go
  x/posts/simulation/genesis.go
  x/posts/simulation/operations_posts.go
  x/posts/simulation/utils.go
  x/posts/types/alias.go
  x/posts/types/models/alias.go
  x/posts/types/models/common/attachment.go
  x/posts/types/models/common/attachment_test.go
  x/posts/types/models/common/post_media.go
  x/posts/types/models/post.go
  x/posts/types/models/post_response_test.go
  x/posts/types/models/post_test.go
  x/posts/types/msgs/msgs.go
  x/posts/types/msgs/msgs_test.go
  x/reports/types/alias.go
  x/reports/types/msgs/msgs.go
Labels: kind/enhancement, module/post

#243 Replacing Creation and Edit Dates with BlockTime
  CHANGELOG.md
  cli_test/cli_posts_test.go
  cli_test/cli_reports_test.go
  docs/developers/msgs/create-post.md
  docs/developers/msgs/edit-post.md
  x/posts/client/cli/tx.go
  x/posts/client/rest/tx.go
  x/posts/genesis.go
  x/posts/keeper/common_functions.go
  x/posts/keeper/common_functions_test.go
  x/posts/keeper/handler.go
  x/posts/keeper/handler_test.go
  x/posts/keeper/keeper.go
  x/posts/keeper/keeper_bench_test.go
  x/posts/keeper/keeper_test.go
  x/posts/keeper/querier_test.go
  x/posts/simulation/decoder.go
  x/posts/simulation/decoder_test.go
  x/posts/simulation/genesis.go
  x/posts/simulation/operations_posts.go
  x/posts/simulation/operations_reactions.go
  x/posts/simulation/utils.go
  x/posts/types/alias.go
  x/posts/types/models/alias.go
  x/posts/types/models/common/attachment_test.go
  x/posts/types/models/common/keys.go
  x/posts/types/models/keys.go
  x/posts/types/models/post.go
  x/posts/types/models/post_test.go
  x/posts/types/msgs/msgs.go
  x/posts/types/msgs/msgs_test.go
  x/reports/simulation/genesis.go
  x/reports/simulation/operations_reports.go
  x/reports/simulation/utils.go
  x/reports/types/alias.go
  x/reports/types/models/alias.go
Labels: kind/enhancement, module/post
