Repository desmos-labs/desmos, pull requests merged in 2020-01, with the labels that each got.

#58 Default bond denom changes
  README.md
  app/app.go
  app/init.go
  app/init_test.go
  cmd/desmoscli/main.go
  cmd/desmosd/main.go
  cmd/desmoskeyutil/main.go
Labels: Kind:Enhancement, Status:R4R

#57 Posts query endpoint implementation
  .gitignore
  x/posts/alias.go
  x/posts/client/cli/keys.go
  x/posts/client/cli/query.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/query.go
  x/posts/client/rest/rest.go
  x/posts/client/rest/tx.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/post_test.go
  x/posts/internal/types/querier.go
  x/posts/internal/types/reaction.go
  x/posts/legacy/v0.2.0/migrate.go
  x/posts/legacy/v0.2.0/types.go
  x/posts/module.go
Labels: Kind:New feature, Module:Post, Status:Waiting upstream

#69 Switch append with AppendIfMissing method to PostIDs
  CHANGELOG.md
  x/posts/internal/keeper/keeper.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_test.go
Labels: Module:Post, Priority:P2, Status:R4R

#68 Fix Last Post ID Bug
  CHANGELOG.md
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
Labels: Module:Post, Priority:P1, Status:R4R

#70 Implemented the post message cap to 500 characters
  CHANGELOG.md
  x/posts/internal/types/keys.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_test.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#71 Replaced block height with timestamps
  CHANGELOG.md
  docs/developers/msgs/create-post.md
  docs/developers/msgs/edit-post.md
  docs/developers/perform-transactions.md
  docs/developers/queries/posts.md
  docs/developers/query-data.md
  x/genutil/alias.go
  x/genutil/client/cli/migrate.go
  x/genutil/internal/types/types.go
  x/genutil/legacy/v0.2.0/migrate.go
  x/posts/client/cli/query.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/query.go
  x/posts/client/rest/rest.go
  x/posts/client/rest/tx.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/post_test.go
  x/posts/internal/types/querier.go
  x/posts/internal/types/reaction.go
  x/posts/internal/types/reaction_test.go
  x/posts/legacy/v0.2.0/migrate.go
  x/posts/legacy/v0.2.0/types.go
Labels: Module:Post, Status:R4R

#73 Updated the documentation
  .img/cover.jpg
  Makefile
  README.md
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/cover.jpg
  docs/.vuepress/public/assets/logo.png
  docs/.vuepress/public/assets/logo.svg
  docs/.vuepress/public/assets/pwa/android-icon-144x144.png
  docs/.vuepress/public/assets/pwa/android-icon-192x192.png
  docs/.vuepress/public/assets/pwa/android-icon-36x36.png
  docs/.vuepress/public/assets/pwa/android-icon-48x48.png
  docs/.vuepress/public/assets/pwa/android-icon-72x72.png
  docs/.vuepress/public/assets/pwa/android-icon-96x96.png
  docs/.vuepress/public/assets/pwa/apple-icon-114x114.png
  docs/.vuepress/public/assets/pwa/apple-icon-120x120.png
  docs/.vuepress/public/assets/pwa/apple-icon-144x144.png
  docs/.vuepress/public/assets/pwa/apple-icon-152x152.png
  docs/.vuepress/public/assets/pwa/apple-icon-180x180.png
  docs/.vuepress/public/assets/pwa/apple-icon-57x57.png
  docs/.vuepress/public/assets/pwa/apple-icon-60x60.png
  docs/.vuepress/public/assets/pwa/apple-icon-72x72.png
  docs/.vuepress/public/assets/pwa/apple-icon-76x76.png
  docs/.vuepress/public/assets/pwa/apple-icon-precomposed.png
  docs/.vuepress/public/assets/pwa/apple-icon.png
  docs/.vuepress/public/assets/pwa/browserconfig.xml
  docs/.vuepress/public/assets/pwa/favicon-16x16.png
  docs/.vuepress/public/assets/pwa/favicon-32x32.png
  docs/.vuepress/public/assets/pwa/favicon-96x96.png
  docs/.vuepress/public/assets/pwa/favicon.ico
  docs/.vuepress/public/assets/pwa/manifest.json
  docs/.vuepress/public/assets/pwa/ms-icon-144x144.png
  docs/.vuepress/public/assets/pwa/ms-icon-150x150.png
  docs/.vuepress/public/assets/pwa/ms-icon-310x310.png
  docs/.vuepress/public/assets/pwa/ms-icon-70x70.png
  docs/README.md
  docs/install.md
  docs/testnets/create-local.md
  docs/testnets/join-public.md
  docs/testnets/overview.md
  docs/validators/node-setup.md
Labels: Docs:New, Status:R4R

#74 Update docs for setup full node and validator
  .travis.yml
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/cover.jpg
  docs/fullnode/installation.md
  docs/fullnode/overview.md
  docs/testnets/join-public.md
  docs/validators/overview.md
  docs/validators/security.md
  docs/validators/validator-setup.md
  package.json
  yarn.lock
Labels: Docs:Improvement, Kind:Enhancement, Status:WIP

#79 Kwun/update docs node setup
  docs/fullnode/installation.md
  docs/testnets/join-public.md
  docs/validators/validator-setup.md
Labels: Docs:Improvement

#81 Media post implementation
  CHANGELOG.md
  x/posts/alias.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/rest.go
  x/posts/client/rest/tx.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_media.go
  x/posts/internal/types/post_media_test.go
  x/posts/internal/types/post_response.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/post_test.go
  x/posts/legacy/v0.1.0/types.go
Labels: Kind:New feature, Module:Post

#83 Added the support for sorting inside the posts query
  docs/developers/queries/posts.md
  x/posts/alias.go
  x/posts/client/cli/keys.go
  x/posts/client/cli/query.go
  x/posts/client/rest/query.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/types/post_sorting.go
  x/posts/internal/types/querier.go
Labels: Kind:Enhancement, Module:Post

#84 Use a SHA-256 as posts' subspace values
  CHANGELOG.md
  app/app.go
  app/init.go
  app/init_test.go
  docs/developers/msgs/create-post.md
  docs/developers/msgs/edit-post.md
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v0.3.0/migrate.go
  x/magpie/internal/types/session_test.go
  x/posts/client/cli/tx.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/post_test.go
  x/posts/legacy/v0.3.0/migrate.go
  x/posts/legacy/v0.3.0/migrate_test.go
  x/posts/legacy/v0.3.0/types.go
Labels: Kind:Enhancement, Module:Post

#88 Bumped Cosmos to v0.38.0
  .circleci/config.yml
  CHANGELOG.md
  app/app.go
  app/export.go
  app/genesis.go
  app/init.go
  app/init_test.go
  cmd/desmoscli/main.go
  cmd/desmosd/genaccounts.go
  cmd/desmosd/main.go
  cmd/desmosd/replay.go
  cmd/desmosd/testnet.go
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/logo.svg
  docs/migrations/v0.3.0.md
  go.mod
  go.sum
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v0.3.0/migrate.go
  x/magpie/client/cli/query.go
  x/magpie/client/cli/tx.go
  x/magpie/genesis.go
  x/magpie/internal/keeper/handler.go
  x/magpie/internal/keeper/handler_test.go
  x/magpie/internal/keeper/keeper.go
  x/magpie/internal/keeper/keeper_test.go
  x/magpie/internal/keeper/querier.go
  x/magpie/internal/keeper/querier_test.go
  x/magpie/internal/types/msgs.go
  x/magpie/internal/types/msgs_test.go
  x/posts/client/cli/query.go
  x/posts/client/cli/tx.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
Labels: Kind:Enhancement
