Repository desmos-labs/desmos, pull requests merged in 2020-04, with the labels that each got.

#122 Decentralized profile implementation - 1/3
  CHANGELOG.md
  app/app.go
  app/params/weights.go
  app/sim_test.go
  cli_test/cli_profile_test.go
  cli_test/test_helpers.go
  docs/developers/msgs/create-profile.md
  docs/developers/msgs/delete-profile.md
  docs/developers/msgs/edit-profile.md
  docs/developers/overview.md
  docs/developers/perform-transactions.md
  docs/developers/queries/profile.md
  docs/developers/queries/profiles.md
  docs/developers/query-data.md
  docs/types/profile-chain-link.md
  docs/types/profile-pictures.md
  docs/types/profile-service-link.md
  docs/types/profile.md
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/simulation/utils.go
  x/profile/alias.go
  x/profile/client/cli/keys.go
  x/profile/client/cli/query.go
  x/profile/client/cli/tx.go
  x/profile/client/rest/query.go
  x/profile/client/rest/rest.go
  x/profile/client/rest/tx.go
  x/profile/genesis.go
  x/profile/internal/keeper/common_test.go
  x/profile/internal/keeper/handler.go
  x/profile/internal/keeper/handler_test.go
  x/profile/internal/keeper/keeper.go
  x/profile/internal/keeper/keeper_test.go
  x/profile/internal/keeper/querier.go
  x/profile/internal/keeper/querier_test.go
  x/profile/internal/simulation/decoder.go
  x/profile/internal/simulation/decoder_test.go
  x/profile/internal/simulation/genesis.go
  x/profile/internal/simulation/operations.go
  x/profile/internal/simulation/operations_profile.go
  x/profile/internal/simulation/utils.go
  x/profile/internal/types/codec.go
  x/profile/internal/types/events.go
  x/profile/internal/types/genesis.go
  x/profile/internal/types/genesis_test.go
  x/profile/internal/types/keys.go
  x/profile/internal/types/msgs.go
  x/profile/internal/types/msgs_test.go
  x/profile/internal/types/pictures.go
  x/profile/internal/types/pictures_test.go
  x/profile/internal/types/profile.go
  x/profile/internal/types/profile_test.go
  x/profile/legacy/v0.4.0/types.go
  x/profile/module.go
Labels: Kind:New feature, Module:Profile, Status:R4R

#134 Added migrate functions tests
  x/posts/legacy/v0.4.0/migrate.go
  x/posts/legacy/v0.4.0/migrate_test.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#139 Generic improvements reactions
  cli_test/cli_posts_test.go
  docs/developers/msgs/add-post-reaction.md
  docs/developers/msgs/register-reaction.md
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msg_reactions.go
  x/posts/internal/types/msg_reactions_test.go
  x/posts/internal/types/msgs_post_reactions.go
  x/posts/internal/types/msgs_post_reactions_test.go
  x/posts/legacy/v0.4.0/migrate.go
  x/posts/legacy/v0.4.0/migrate_reactions.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#136 Generic improvements
  CHANGELOG.md
  cli_test/cli_posts_test.go
  contrib/devtools/Makefile
  contrib/devtools/install-golangci-lint.sh
  docs/developers/msgs/add-post-reaction.md
  docs/developers/msgs/register-reaction.md
  docs/developers/msgs/remove-post-reaction.md
  go.mod
  go.sum
  x/magpie/alias.go
  x/magpie/internal/simulation/operations.go
  x/posts/alias.go
  x/posts/client/cli/query.go
  x/posts/client/rest/rest.go
  x/posts/client/rest/tx.go
  x/posts/genesis.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper_reactions.go
  x/posts/internal/keeper/keeper_reactions_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/simulation/decoder.go
  x/posts/internal/simulation/operations_reactions.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/simulation/utils_test.go
  x/posts/internal/types/events.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msg_reactions.go
  x/posts/internal/types/msg_reactions_test.go
  x/posts/internal/types/msgs_post_reactions.go
  x/posts/internal/types/msgs_post_reactions_test.go
  x/posts/internal/types/poll_data.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_reaction.go
  x/posts/internal/types/post_reaction_test.go
  x/posts/internal/types/post_response.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/reaction.go
  x/posts/internal/types/reaction_test.go
  x/posts/legacy/v0.3.0/types.go
  x/posts/legacy/v0.4.0/migrate.go
  x/posts/legacy/v0.4.0/migrate_reactions.go
  x/posts/legacy/v0.4.0/migrate_reactions_test.go
  x/posts/legacy/v0.4.0/migrate_test.go
  x/posts/legacy/v0.4.0/types.go
  x/posts/legacy/v0.4.0/v030state.json
  x/profile/alias.go
  x/profile/internal/simulation/operations.go
Labels: Kind:Enhancement

#146 Master tests fix
  .circleci/config.yml
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/simulation/operations_reactions.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/simulation/utils_test.go
  x/posts/legacy/v0.4.0/v030state.json
  x/profile/alias.go
Labels: Kind:Bug, Module:Post, Quality:Test, Status:R4R
