Repository desmos-labs/desmos, pull requests merged in 2020-02, with the labels that each got.

#85 Default magpie session length inside genesis
  CHANGELOG.md
  x/magpie/alias.go
  x/magpie/genesis.go
  x/magpie/internal/keeper/handler.go
  x/magpie/internal/keeper/handler_test.go
  x/magpie/internal/keeper/keeper.go
  x/magpie/internal/keeper/keeper_test.go
  x/magpie/internal/types/genesis.go
  x/magpie/internal/types/genesis_test.go
  x/magpie/internal/types/keys.go
Labels: Kind:New feature, Kind:Question, Module:Magpie, Status:R4R

#86 Poll post implementation
  CHANGELOG.md
  Makefile
  x/posts/abci.go
  x/posts/alias.go
  x/posts/client/cli/keys.go
  x/posts/client/cli/query.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/query.go
  x/posts/client/rest/rest.go
  x/posts/client/rest/tx.go
  x/posts/genesis.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/types/codec.go
  x/posts/internal/types/events.go
  x/posts/internal/types/genesis.go
  x/posts/internal/types/genesis_test.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/poll_answers_response.go
  x/posts/internal/types/poll_answers_response_test.go
  x/posts/internal/types/poll_data.go
  x/posts/internal/types/poll_data_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_response.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/post_test.go
  x/posts/module.go
Labels: Kind:New feature, Module:Post, Status:R4R

#95 Updated documentation with new message, medias and polls specifications
  docs/.vuepress/public/assets/pwa/browserconfig.xml
  docs/.vuepress/public/assets/pwa/manifest.json
  docs/developers/msgs/answer-poll.md
  docs/developers/msgs/create-post.md
  docs/developers/msgs/remove-reaction.md
  docs/developers/perform-transactions.md
  docs/developers/queries/poll-answers.md
  docs/developers/query-data.md
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post_media.go
  x/posts/internal/types/post_response_test.go
Labels: Docs:Improvement, Docs:New, Status:R4R

#93 Post contents check while saving a post
  .circleci/config.yml
  CHANGELOG.md
  app/init_test.go
  x/magpie/internal/keeper/handler_test.go
  x/magpie/internal/keeper/keeper_test.go
  x/magpie/internal/keeper/querier_test.go
  x/magpie/internal/types/genesis_test.go
  x/magpie/internal/types/msgs_test.go
  x/magpie/internal/types/session_test.go
  x/posts/abci.go
  x/posts/internal/keeper/alias_functions.go
  x/posts/internal/keeper/alias_functions_test.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/simulation/decoder_test.go
  x/posts/internal/simulation/genesis.go
  x/posts/internal/simulation/operations.go
  x/posts/internal/simulation/operations_polls.go
  x/posts/internal/simulation/operations_posts.go
  x/posts/internal/simulation/operations_reactions.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/genesis_test.go
  x/posts/internal/types/msgs_polls_test.go
  x/posts/internal/types/msgs_reactions_test.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/poll_answer_test.go
  x/posts/internal/types/poll_answers_response_test.go
  x/posts/internal/types/poll_data.go
  x/posts/internal/types/poll_data_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_media_test.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/post_test.go
  x/posts/internal/types/reaction_test.go
  x/posts/legacy/v0.3.0/migrate_test.go
Labels: Kind:Bug, Module:Post

#101 v0.3.0 migration improvements
  Makefile
  cmd/desmosd/testnet.go
  docker-compose.yml
  x/posts/internal/keeper/alias_functions.go
  x/posts/internal/keeper/alias_functions_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/types/post.go
  x/posts/legacy/v0.2.0/types.go
  x/posts/legacy/v0.3.0/migrate.go
  x/posts/legacy/v0.3.0/migrate_test.go
Labels: Kind:Enhancement
