Repository desmos-labs/desmos, pull requests merged in 2020-03, with the labels that each got.

#104 Improved alias.go files by generating them
  CHANGELOG.md
  x/genutil/alias.go
  x/magpie/alias.go
  x/posts/alias.go
Labels: Kind:Enhancement, Status:R4R

#112 Magpie migration fix
  CHANGELOG.md
  x/genutil/legacy/v0.3.0/migrate.go
  x/magpie/legacy/v0.2.0/types.go
  x/magpie/legacy/v0.3.0/migrate.go
  x/magpie/legacy/v0.3.0/migrate_test.go
  x/magpie/legacy/v0.3.0/types.go
Labels: Kind:Bug, Module:Magpie, Status:R4R

#98 Hashtags implementation
  CHANGELOG.md
  cli_test/cli_posts_test.go
  go.mod
  go.sum
  x/commons/commons.go
  x/posts/client/cli/keys.go
  x/posts/client/cli/query.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/query.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/simulation/genesis.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/genesis.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_test.go
  x/posts/internal/types/querier.go
Labels: Kind:New feature, Module:Post, Status:R4R

#121 Update the post creation CLI command
  CHANGELOG.md
  cli_test/cli_posts_test.go
  cli_test/test_helpers.go
  x/posts/client/cli/tx.go
  x/posts/internal/types/msgs_test.go
  x/posts/internal/types/post_media_test.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#120 Reaction registration implementation
  CHANGELOG.md
  app/params/weights.go
  cli_test/cli_posts_test.go
  cli_test/test_helpers.go
  docs/developers/msgs/add-post-reaction.md
  docs/developers/msgs/register-reaction.md
  docs/developers/msgs/remove-post-reaction.md
  docs/developers/perform-transactions.md
  docs/developers/queries/reactions.md
  docs/developers/query-data.md
  docs/types/reaction.md
  go.mod
  go.sum
  x/posts/alias.go
  x/posts/client/cli/query.go
  x/posts/client/cli/tx.go
  x/posts/client/rest/query.go
  x/posts/client/rest/rest.go
  x/posts/client/rest/tx.go
  x/posts/genesis.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/keeper.go
  x/posts/internal/keeper/keeper_polls.go
  x/posts/internal/keeper/keeper_polls_test.go
  x/posts/internal/keeper/keeper_reactions.go
  x/posts/internal/keeper/keeper_reactions_test.go
  x/posts/internal/keeper/keeper_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/simulation/decoder.go
  x/posts/internal/simulation/decoder_test.go
  x/posts/internal/simulation/genesis.go
  x/posts/internal/simulation/operations.go
  x/posts/internal/simulation/operations_reactions.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/codec.go
  x/posts/internal/types/events.go
  x/posts/internal/types/genesis.go
  x/posts/internal/types/genesis_test.go
  x/posts/internal/types/keys.go
  x/posts/internal/types/msg_reactions.go
  x/posts/internal/types/msg_reactions_test.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_post_reactions.go
  x/posts/internal/types/msgs_post_reactions_test.go
  x/posts/internal/types/post_media.go
  x/posts/internal/types/post_reaction.go
  x/posts/internal/types/post_reaction_test.go
  x/posts/internal/types/post_response.go
  x/posts/internal/types/post_response_test.go
  x/posts/internal/types/reaction.go
  x/posts/internal/types/reaction_test.go
  x/posts/legacy/v0.2.0/types.go
  x/posts/legacy/v0.3.0/types.go
Labels: Kind:New feature, Module:Post, Status:R4R
