Repository desmos-labs/desmos, pull requests merged in 2020-08, with the labels that each got.

#255 Replacing computeID with inner computation
  CHANGELOG.md
  x/posts/keeper/common_functions_test.go
  x/posts/keeper/common_test.go
  x/posts/keeper/handler.go
  x/posts/keeper/handler_test.go
  x/posts/keeper/invariants_test.go
  x/posts/keeper/keeper_bench_test.go
  x/posts/keeper/keeper_reactions_test.go
  x/posts/keeper/keeper_test.go
  x/posts/keeper/querier_test.go
  x/posts/simulation/decoder_test.go
  x/posts/simulation/genesis.go
  x/posts/types/alias.go
  x/posts/types/models/alias.go
  x/posts/types/models/post.go
  x/posts/types/models/post_response_test.go
  x/posts/types/models/post_test.go
  x/reports/keeper/handler_test.go
  x/reports/keeper/keeper_test.go
  x/reports/types/alias.go
  x/reports/types/models/alias.go
Labels: kind/enhancement, quality/code-cleanliness

#256 Edit post allow attachments and pollData edits
  CHANGELOG.md
  cli_test/cli_posts_test.go
  docs/developers/msgs/edit-post.md
  x/posts/client/cli/tx.go
  x/posts/keeper/handler.go
  x/posts/keeper/handler_test.go
  x/posts/simulation/operations_posts.go
  x/posts/types/msgs/msgs.go
  x/posts/types/msgs/msgs_test.go
Labels: kind/new-feature

#254 Removed Open field from PollData
  CHANGELOG.md
  docs/developers/msgs/create-post.md
  x/posts/abci.go
  x/posts/client/cli/tx.go
  x/posts/keeper/common_test.go
  x/posts/keeper/handler.go
  x/posts/keeper/handler_test.go
  x/posts/keeper/keeper_test.go
  x/posts/module.go
  x/posts/simulation/decoder_test.go
  x/posts/simulation/operations_polls.go
  x/posts/simulation/operations_posts.go
  x/posts/simulation/utils.go
  x/posts/types/models/polls/poll_data.go
  x/posts/types/models/polls/poll_data_test.go
  x/posts/types/models/post_response_test.go
  x/posts/types/models/post_test.go
  x/posts/types/msgs/msgs.go
  x/posts/types/msgs/msgs_test.go
Labels: kind/enhancement, module/post, quality/code-cleanliness, status/on-hold

#265 Updated the CHANGELOG
  CHANGELOG.md
Labels: automerge
