Repository desmos-labs/desmos, pull requests merged in 2020-05, with the labels that each got.

#133 YAML support to types
  CHANGELOG.md
  x/magpie/internal/types/msgs.go
  x/magpie/internal/types/session.go
  x/posts/internal/types/msg_reactions.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_polls.go
  x/posts/internal/types/msgs_post_reactions.go
  x/posts/internal/types/poll_answer.go
  x/posts/internal/types/poll_answers_response.go
  x/posts/internal/types/poll_data.go
  x/posts/internal/types/post.go
  x/posts/internal/types/post_media.go
  x/posts/internal/types/post_reaction.go
  x/posts/internal/types/post_response.go
  x/profile/internal/types/msgs.go
  x/profile/internal/types/pictures.go
  x/profile/internal/types/profile.go
Labels: Kind:Enhancement, Module:Magpie, Module:Post, Module:Profile, UX:Improvements

#149 Allow empty messages with non-empty polls
  CHANGELOG.md
  x/posts/client/cli/tx.go
  x/posts/internal/types/msgs.go
  x/posts/internal/types/msgs_test.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#150 Generic reactions improvements
  CHANGELOG.md
  cli_test/cli_posts_test.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/invariants_test.go
  x/posts/internal/keeper/keeper_reactions.go
  x/posts/internal/keeper/keeper_reactions_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/types/msgs/msg_reactions.go
  x/posts/internal/types/msgs/msg_reactions_test.go
  x/posts/internal/types/msgs/msgs_post_reactions.go
  x/posts/internal/types/msgs/msgs_post_reactions_test.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#152 Migrate v050 implementation
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v0.5.0/migrate.go
  x/posts/legacy/v0.5.0/migrate.go
  x/posts/legacy/v0.5.0/migrate_test.go
Labels: Module:Post, Status:R4R

#153 Post Media tags implementation
  CHANGELOG.md
  cli_test/cli_posts_test.go
  docs/developers/msgs/create-post.md
  docs/types/post-media.md
  x/posts/client/cli/tx.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/simulation/decoder_test.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/models/common/post_media.go
  x/posts/internal/types/models/common/post_media_test.go
  x/posts/internal/types/models/post_response_test.go
  x/posts/internal/types/msgs/msgs_test.go
Labels: Kind:Enhancement, Module:Post, Status:R4R

#158 Fixed typo in cli command tx posts create
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/client/cli/tx.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/models/alias.go
  x/profile/alias.go
Labels: Kind:Bug, Module:Post

#161 Version 0.5.1
  CHANGELOG.md
  x/posts/internal/types/models/reactions/post_reaction.go
  x/posts/internal/types/models/reactions/post_reaction_test.go
Labels: Kind:Bug

#160 PostReaction struct improvements
  CHANGELOG.md
  x/genutil/legacy/v0.6.0/migrate.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/keeper/invariants_test.go
  x/posts/internal/keeper/keeper_reactions.go
  x/posts/internal/keeper/keeper_reactions_test.go
  x/posts/internal/keeper/querier.go
  x/posts/internal/keeper/querier_test.go
  x/posts/internal/simulation/decoder_test.go
  x/posts/internal/simulation/genesis.go
  x/posts/internal/simulation/operations_reactions.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/models/post_response.go
  x/posts/internal/types/models/post_response_test.go
  x/posts/internal/types/models/reactions/post_reaction.go
  x/posts/internal/types/models/reactions/post_reaction_test.go
  x/posts/internal/types/models/reactions/reaction.go
  x/posts/internal/types/models/reactions/reaction_test.go
  x/posts/legacy/v0.6.0/migrate.go
  x/posts/legacy/v0.6.0/migrate_test.go
  x/posts/legacy/v0.6.0/types.go
  x/posts/legacy/v0.6.0/v050state.json
Labels: Kind:Enhancement, Module:Post, Status:R4R

#154 RocksDB implementation
  CHANGELOG.md
  Makefile
  go.mod
  go.sum
Labels: Kind:Enhancement, Status:R4R

#162 Tests fixes
  cli_test/cli_posts_test.go
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/models/alias.go
  x/posts/internal/types/models/post_response.go
  x/profile/alias.go
Labels: Quality:Test

#167 Profile CLI delete cmd fix
  cli_test/cli_profile_test.go
  cli_test/test_helpers.go
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/models/alias.go
  x/profile/alias.go
  x/profile/client/cli/tx.go
Labels: Kind:Bug, Module:Profile, Status:R4R

#165 Benchmarks tests implementation (Posts)
  CHANGELOG.md
  go.mod
  go.sum
  x/magpie/alias.go
  x/magpie/module.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/keeper/keeper_bench_test.go
  x/posts/internal/simulation/utils.go
  x/profile/internal/keeper/common_test.go
Labels: Module:Post, Quality:Test, Status:R4R

#176 Chain events improvements
  CHANGELOG.md
  x/magpie/internal/keeper/handler.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/profile/internal/keeper/handler.go
  x/profile/internal/keeper/handler_test.go
Labels: Kind:Enhancement, Status:R4R

#178 Updated Cosmos to v0.38.4
  CHANGELOG.md
  go.mod
Labels: Status:R4R

#180 Updated profiles' create and edit
  CHANGELOG.md
  app/params/weights.go
  cli_test/cli_profile_test.go
  cli_test/test_helpers.go
  docs/developers/msgs/edit-profile.md
  docs/developers/msgs/save-profile.md
  docs/developers/perform-transactions.md
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/models/alias.go
  x/profile/alias.go
  x/profile/client/cli/keys.go
  x/profile/client/cli/tx.go
  x/profile/client/rest/rest.go
  x/profile/client/rest/tx.go
  x/profile/internal/keeper/handler.go
  x/profile/internal/keeper/handler_test.go
  x/profile/internal/keeper/invariants_test.go
  x/profile/internal/keeper/keeper.go
  x/profile/internal/keeper/keeper_test.go
  x/profile/internal/keeper/utils_functions_test.go
  x/profile/internal/simulation/operations.go
  x/profile/internal/simulation/operations_profile.go
  x/profile/internal/types/codec.go
  x/profile/internal/types/events.go
  x/profile/internal/types/keys.go
  x/profile/internal/types/msgs.go
  x/profile/internal/types/msgs_test.go
  x/profile/internal/types/pictures.go
  x/profile/internal/types/profile.go
  x/profile/internal/types/profile_test.go
Labels: Kind:Enhancement, Module:Profile, Status:R4R

#179 Post Report implementation
  CHANGELOG.md
  app/app.go
  app/params/weights.go
  app/sim_test.go
  cli_test/cli_reports_test.go
  cli_test/test_helpers.go
  docs/developers/msgs/report-post.md
  docs/developers/perform-transactions.md
  docs/developers/queries/reports.md
  docs/developers/query-data.md
  docs/types/report.md
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/keeper/common_test.go
  x/posts/internal/simulation/decoder_test.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/events.go
  x/posts/internal/types/models/alias.go
  x/profile/alias.go
  x/reports/abci.go
  x/reports/alias.go
  x/reports/client/cli/query.go
  x/reports/client/cli/tx.go
  x/reports/client/rest/query.go
  x/reports/client/rest/rest.go
  x/reports/client/rest/tx.go
  x/reports/genesis.go
  x/reports/internal/keeper/common_test.go
  x/reports/internal/keeper/handler.go
  x/reports/internal/keeper/handler_test.go
  x/reports/internal/keeper/invariants.go
  x/reports/internal/keeper/invariants_test.go
  x/reports/internal/keeper/keeper.go
  x/reports/internal/keeper/keeper_test.go
  x/reports/internal/keeper/querier.go
  x/reports/internal/keeper/querier_test.go
  x/reports/internal/simulation/decoder.go
  x/reports/internal/simulation/decoder_test.go
  x/reports/internal/simulation/genesis.go
  x/reports/internal/simulation/operations.go
  x/reports/internal/simulation/operations_reports.go
  x/reports/internal/simulation/utils.go
  x/reports/internal/types/alias.go
  x/reports/internal/types/codec.go
  x/reports/internal/types/events.go
  x/reports/internal/types/genesis.go
  x/reports/internal/types/genesis_test.go
  x/reports/internal/types/models/alias.go
  x/reports/internal/types/models/codec.go
  x/reports/internal/types/models/common/keys.go
  x/reports/internal/types/models/keys.go
  x/reports/internal/types/models/report.go
  x/reports/internal/types/models/report_response.go
  x/reports/internal/types/models/report_response_test.go
  x/reports/internal/types/models/report_test.go
  x/reports/internal/types/msgs/codec.go
  x/reports/internal/types/msgs/msgs.go
  x/reports/internal/types/msgs/msgs_test.go
  x/reports/module.go
Labels: Kind:New feature, Reports, Status:R4R
