Repository desmos-labs/desmos, pull requests merged in 2020-06, with the labels that each got.

#185 Gov module restore and tests fixes
  CHANGELOG.md
  app/app.go
  app/sim_test.go
  cli_test/cli_test.go
  x/posts/internal/simulation/operations.go
  x/reports/internal/simulation/operations.go
Labels: Module:Governance, Quality:Test, Status:R4R

#188 Reaction registration fix
  CHANGELOG.md
  app/app.go
  app/sim_test.go
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/client/cli/tx.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/keeper/handler_test.go
  x/posts/internal/simulation/utils.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/genesis.go
  x/posts/internal/types/models/alias.go
  x/posts/internal/types/models/common/reactions.go
  x/posts/internal/types/models/reactions/post_reaction.go
  x/posts/internal/types/models/reactions/reaction.go
  x/posts/internal/types/models/reactions/reaction_test.go
  x/profile/alias.go
  x/profile/internal/keeper/handler_test.go
  x/profile/internal/keeper/keeper.go
  x/profile/internal/keeper/keeper_test.go
  x/reports/alias.go
  x/reports/internal/keeper/keeper_test.go
  x/reports/internal/simulation/operations.go
  x/reports/internal/simulation/operations_reports.go
  x/reports/internal/types/alias.go
  x/reports/internal/types/models/alias.go
  x/reports/module.go
Labels: Kind:Bug, Module:Post

#195 Profile changes
  CHANGELOG.md
  cli_test/cli_profile_test.go
  docs/developers/msgs/save-profile.md
  docs/types/profile.md
  x/commons/common_test.go
  x/commons/commons.go
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v0.6.0/migrate.go
  x/genutil/legacy/v0.8.0/migrate.go
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/models/alias.go
  x/posts/legacy/v0.6.0/migrate.go
  x/profile/alias.go
  x/profile/client/cli/keys.go
  x/profile/client/cli/query.go
  x/profile/client/cli/tx.go
  x/profile/client/rest/query.go
  x/profile/client/rest/rest.go
  x/profile/client/rest/tx.go
  x/profile/internal/keeper/common_test.go
  x/profile/internal/keeper/handler.go
  x/profile/internal/keeper/handler_test.go
  x/profile/internal/keeper/invariants.go
  x/profile/internal/keeper/invariants_test.go
  x/profile/internal/keeper/keeper.go
  x/profile/internal/keeper/keeper_test.go
  x/profile/internal/keeper/querier.go
  x/profile/internal/keeper/querier_test.go
  x/profile/internal/keeper/utils_functions_test.go
  x/profile/internal/simulation/decoder.go
  x/profile/internal/simulation/decoder_test.go
  x/profile/internal/simulation/genesis.go
  x/profile/internal/simulation/operations_profile.go
  x/profile/internal/simulation/utils.go
  x/profile/internal/types/common_test.go
  x/profile/internal/types/events.go
  x/profile/internal/types/genesis_test.go
  x/profile/internal/types/keys.go
  x/profile/internal/types/msgs.go
  x/profile/internal/types/msgs_test.go
  x/profile/internal/types/pictures.go
  x/profile/internal/types/pictures_test.go
  x/profile/internal/types/profile.go
  x/profile/internal/types/profile_test.go
  x/profile/legacy/v0.4.0/types.go
  x/profile/legacy/v0.6.0/types.go
  x/profile/legacy/v0.8.0/migrate.go
  x/profile/legacy/v0.8.0/migrate_test.go
  x/profile/legacy/v0.8.0/types.go
  x/reports/alias.go
  x/reports/internal/types/alias.go
  x/reports/internal/types/models/alias.go
Labels: Kind:Enhancement, Module:Profile

#191 Move profiles' const to chain params
  CHANGELOG.md
  app/app.go
  cli_test/test_helpers.go
  docs/developers/msgs/delete-profile.md
  docs/developers/msgs/edit_param_proposal.md
  docs/developers/perform-transactions.md
  docs/developers/queries/profiles.md
  package-lock.json
  package.json
  x/commons/common_test.go
  x/magpie/alias.go
  x/posts/alias.go
  x/posts/internal/keeper/handler.go
  x/posts/internal/types/alias.go
  x/posts/internal/types/msgs/msg_reactions_test.go
  x/profile/alias.go
  x/profile/client/cli/query.go
  x/profile/client/cli/tx.go
  x/profile/client/rest/query.go
  x/profile/genesis.go
  x/profile/internal/keeper/common_test.go
  x/profile/internal/keeper/handler.go
  x/profile/internal/keeper/handler_test.go
  x/profile/internal/keeper/keeper.go
  x/profile/internal/keeper/params.go
  x/profile/internal/keeper/params_test.go
  x/profile/internal/keeper/querier.go
  x/profile/internal/keeper/querier_test.go
  x/profile/internal/simulation/decoder.go
  x/profile/internal/simulation/genesis.go
  x/profile/internal/simulation/params.go
  x/profile/internal/simulation/utils.go
  x/profile/internal/types/codec.go
  x/profile/internal/types/genesis.go
  x/profile/internal/types/genesis_test.go
  x/profile/internal/types/keys.go
  x/profile/internal/types/msgs.go
  x/profile/internal/types/msgs_test.go
  x/profile/internal/types/params.go
  x/profile/internal/types/params_test.go
  x/profile/internal/types/profile.go
  x/profile/internal/types/profile_test.go
  x/profile/legacy/v0.8.0/migrate.go
  x/profile/legacy/v0.8.0/migrate_test.go
  x/profile/legacy/v0.8.0/types.go
  x/profile/module.go
  x/reports/alias.go
  x/reports/internal/types/alias.go
Labels: Kind:Enhancement, Module:Profile, Status:R4R
