Repository desmos-labs/desmos, pull requests merged in 2021-12, with the labels that each got.

#686 build(deps): Bump github.com/desmos-labs/cosmos-sdk from 0.44.4 to 0.44.5
  go.mod
  go.sum
Labels: automerge

#692 docs: re-organize ADRs
  docs/architecture/adr-001-change-chain-links-plain-text-encoding-to-hex.md
  docs/architecture/adr-002-mutual-dtags-exchange.md
  docs/architecture/adr-003-remove-custom-json-tags-from-profo-files.md
  docs/architecture/adr-005-enabled-snap-shot-by-default.md
  docs/architecture/adr-009-avoid-accidental-dtag-override.md
Labels: automerge, kind/adr

#693 fix: added missing SetVersion method from app
  .changeset/entries/abe252025d41d256b539f619d25c3a8106d9c10d0e6cd919d7279ecdce4a4166.yaml
  app/app.go
Labels: automerge

#699 chore: expose keepers
  app/app.go
  app/export.go
  x/profiles/module.go
  x/profiles/types/models_params.go
Labels: x/profiles

#688 feat: add support for hex address in chain link
  .changeset/entries/6b0bd955ce8e24b2b9fdf0923da002de55a8cf4fab6e91fddd7dcc4c1854efab.yaml
  go.mod
  go.sum
  proto/desmos/profiles/v1beta1/models_chain_links.proto
  x/profiles/types/codec.go
  x/profiles/types/models_chain_links.go
  x/profiles/types/models_chain_links.pb.go
  x/profiles/types/models_chain_links_test.go
Labels: x/profiles, automerge

#634 docs(adr): ADR-005: Support multisig chain link
  docs/architecture/adr-005-support-multisig-chain-link.md
Labels: automerge, kind/adr
