Repository desmos-labs/desmos, pull requests merged in 2022-08, with the labels that each got.

#986 fix: added missing default external address wasm support
  .changeset/entries/c3b6f6719e57ff197e26269ed6f22192e4cc77ab4a99eecc2487c57ae98a7765.yaml
  x/profiles/types/wasm.go
  x/profiles/wasm/common_test.go
  x/profiles/wasm/msg_parser.go
  x/profiles/wasm/msg_parser_test.go
  x/profiles/wasm/querier.go
  x/profiles/wasm/querier_test.go
Labels: x/profiles, automerge

#985 feat: improve Proto naming, comments and definitions
  proto/desmos/profiles/v3/msgs_app_links.proto
  proto/desmos/profiles/v3/msgs_dtag_requests.proto
  proto/desmos/profiles/v3/msgs_profile.proto
  proto/desmos/relationships/v1/msgs.proto
  proto/desmos/subspaces/v3/msgs.proto
  x/profiles/types/msgs_app_links.pb.go
  x/profiles/types/msgs_dtag_requests.pb.go
  x/profiles/types/msgs_profile.pb.go
  x/relationships/types/msgs.pb.go
  x/subspaces/types/msgs.pb.go
Labels: x/profiles, x/subspaces, automerge, x/relationships

#989 build(ci): fix lint workflow to use make lint
  .github/workflows/lint.yml
  .golangci.yml
Labels: kind/ci, automerge

#988 build(deps): bump cosmos/cosmos-sdk to v0.45.7 and CosmWasm/wasmd to v0.28.0
  .changeset/entries/1911f9f3a40965372a69aa2bff61e010cc22f87440e377267eecb57e32723fda.yaml
  .changeset/entries/76c4176d740fc86711411d8829b02b6843f201a8c88e8fa0a65ab2f1ac78bd8b.yaml
  .github/workflows/benchmarks.yml
  .github/workflows/lint.yml
  .github/workflows/on-chain-upgrade.yml
  .github/workflows/release.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Makefile
  app/sim_test.go
  contrib/devtools/Makefile
  contrib/devtools/proto-tools-installer.sh
  contrib/githooks/README.md
  contrib/images/desmos-builder/Dockerfile
  contrib/images/desmos-cosmovisor/Dockerfile
  go.mod
  go.sum
  scripts/protocgen.sh
  testutil/ibctesting/helper.go
  testutil/simtesting/utils.go
Labels: kind/ci, automerge, kind/build

#993 fix: fix wrong Amino concrete type registration
  x/posts/types/codec.go
  x/profiles/types/codec.go
  x/reactions/types/codec.go
  x/relationships/types/codec.go
  x/reports/types/codec.go
  x/subspaces/types/codec.go
Labels: x/profiles, x/subspaces, automerge, x/relationships
