Repository desmos-labs/desmos, pull requests merged in 2022-05, with the labels that each got.

#827 feat: add v3.1.0 upgrade handler
  .github/workflows/on-chain-upgrade.yml
  app/app.go
  app/upgrades/upgrade.go
  app/upgrades/v300/upgrade.go
  app/upgrades/v310/upgrade.go
  contrib/upgrade_testnet/docker-compose.yml
  x/profiles/legacy/v5/store.go
Labels: x/profiles, kind/ci, automerge, requires-upgrade

#826 build: make the muslc library statically linked
  Dockerfile
  Makefile
Labels: automerge, kind/build

#852 build: improve Dockerfile structure
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile-ubuntu
  Makefile
  contrib/images/Makefile
  contrib/images/desmos-builder/Dockerfile
Labels: kind/ci, automerge, kind/build

#837 docs: add x/relationships spec
  x/relationships/spec/01_concepts.md
  x/relationships/spec/02_state.md
  x/relationships/spec/03_messages.md
  x/relationships/spec/04_events.md
  x/relationships/spec/05_client.md
  x/relationships/spec/README.md
Labels: docs/new, x/relationships

#833 docs: add x/fees spec
  x/fees/spec/01_concepts.md
  x/fees/spec/02_state.md
  x/fees/spec/03_antehandlers.md
  x/fees/spec/04_parameters.md
  x/fees/spec/05_client.md
  x/fees/spec/README.md
Labels: docs/new, x/fees

#859 docs(adr): ADR-012: Subspaces sections
  docs/architecture/adr-012-subspaces-sections.md
Labels: kind/adr

#836 docs: add x/supply spec
  x/supply/spec/01_concepts.md
  x/supply/spec/02_client.md
  x/supply/spec/README.md
Labels: docs/new, automerge

#865 docs: updated Swagger config and UI
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Labels: automerge, x/CLI

#864 chore: release v3.1.0
  .changeset/config.yaml
  .changeset/entries/0b375405b7cd05aced303d5752096b2321d0e60a0559ec4c20e7f538debdb738.yaml
  .changeset/entries/1af1e0e5417d3079d610bae17da72fd728db64762cdb381b4b3da81d5317c102.yaml
  .changeset/entries/2ceedb22572eba8499b4b7abf8c4b38789a979fa8a852a3537dc9cba4b81bc16.yaml
  .changeset/entries/32ba778bad884cf9429f4a0e2d8525170662fa1592a4b25daadc6c9ac4275e2b.yaml
  .changeset/entries/4c0542ccbcb143de87bcd9be2799eb48af7169cec397d425d8fc6d64fe4ca207.yaml
  .changeset/entries/68d07218bf30b0b984be4c29146eb71f915df11721ab81b8eec2595ab493ae4d.yaml
  .changeset/entries/6e78e6f7f9486799935df288f3d1467a646116fddc2952e79e559b1d4cc58d79.yaml
  .changeset/entries/6f0a061bd4ae3038eb8a5a71d9a3b1e6b88397a4e785bda00fec5fbd8bd0737b.yaml
  .changeset/entries/8fea7719728d408975e08ec2ca629f6241c68afe263cc5897d7ebcb0856b4520.yaml
  .changeset/entries/9823041f2fc00cbc264d66d2f4f7b02652004a1296489aa64b6b7b586d6329a5.yaml
  .changeset/entries/bc776b2301982eaae47a6da9ac287a76dace06b0cb1cab882868d56c021dffdc.yaml
  .changeset/entries/d043f6a0d4714847e41f18dd5b2acbd55e0c2fff761d1e0748fd61dcdc9e59b3.yaml
  .changeset/entries/e0e50784a9447e03a4cab7f42c4020754fdb7fc2fabae2a8ce80f15be54561e2.yaml
  .changeset/entries/ed739ae62d392b19a07694f596ae5facae8dbd18ca8eb70bd6be0bc775aee829.yaml
  .changeset/entries/fc7708b5917c157edbbc96281bba1a63928dd2becf8fd057cd3d9592a88f1798.yaml
  CHANGELOG.md
Labels: automerge, requires-upgrade

#868 docs(adr): ADR-013: Per-chain default external address
  docs/architecture/adr-013-per-chain-default-address.md
Labels: automerge, kind/adr

#869 docs(adr): ADR-014: Improve the permission system
  docs/architecture/adr-014-improve-permissions.md
Labels: automerge, kind/adr

#875 build(deps): bump ibc-go to v3.0.0 and wasmd to v0.27.0
  .changeset/entries/3489ea7d8448d67973d894bf2c2be7f28fd259f3d339ec4f03d8ea741990ec41.yaml
  Makefile
  app/ante.go
  app/app.go
  app/sim_test.go
  contrib/images/desmos-builder/Dockerfile
  go.mod
  go.sum
  testutil/ibctesting/chain.go
  testutil/ibctesting/coordinator.go
  testutil/ibctesting/types.go
  testutil/wasm/reflect.wasm
  third_party/proto/cosmos/tx/signing/v1beta1/signing.proto
  third_party/proto/ibc/core/client/v1/client.proto
  x/posts/simulation/genesis.go
  x/profiles/client/cli/cli_app_links.go
  x/profiles/ibc_module.go
  x/profiles/keeper/common_test.go
  x/profiles/keeper/keeper_ibc.go
  x/profiles/keeper/relay_app_links.go
  x/profiles/keeper/relay_app_links_test.go
  x/profiles/types/expected_keeper.go
  x/profiles/types/genesis.go
  x/profiles/types/keys.go
  x/profiles/types/msgs_app_links.go
  x/profiles/types/msgs_app_links.pb.go
  x/profiles/types/msgs_app_links_test.go
  x/relationships/keeper/common_test.go
Labels: cosmwasm, x/profiles, dependencies, automerge, x/CLI, kind/build, x/relationships

#881 fix: fix x/profiles genesis unpacking
  x/profiles/types/genesis.go
Labels: x/profiles, automerge

#882 fix: fix active polls import/export
  proto/desmos/posts/v1/genesis.proto
  x/posts/client/cli/cli_test.go
  x/posts/keeper/genesis.go
  x/posts/keeper/genesis_test.go
  x/posts/keeper/polls.go
  x/posts/simulation/genesis.go
  x/posts/types/genesis.go
  x/posts/types/genesis.pb.go
  x/posts/types/genesis_test.go
Labels: automerge, x/CLI
