Repository desmos-labs/desmos, pull requests merged in 2022-04, with the labels that each got.

#801 fix: sanitize permissions
  .changeset/entries/6e78e6f7f9486799935df288f3d1467a646116fddc2952e79e559b1d4cc58d79.yaml
  testutil/context.go
  x/profiles/legacy/v5/store_test.go
  x/subspaces/keeper/migrations.go
  x/subspaces/keeper/msg_server.go
  x/subspaces/keeper/msg_server_test.go
  x/subspaces/legacy/v2/store.go
  x/subspaces/legacy/v2/store_test.go
  x/subspaces/module.go
  x/subspaces/types/permissions.go
  x/subspaces/types/permissions_test.go
Labels: x/profiles, x/subspaces, automerge

#802 fix: do not allow setting permissions for self
  .changeset/entries/32ba778bad884cf9429f4a0e2d8525170662fa1592a4b25daadc6c9ac4275e2b.yaml
  x/subspaces/keeper/msg_server.go
  x/subspaces/keeper/msg_server_test.go
  x/subspaces/simulation/operations_groups.go
  x/subspaces/simulation/operations_permissions.go
  x/subspaces/types/msgs.go
  x/subspaces/types/msgs_test.go
Labels: x/subspaces, automerge

#808 revert: bump github.com/tendermint/tendermint from 0.34.16 to 0.34.17 (#804)
  go.mod
  go.sum
Labels: automerge

#782 feat: ADR-009: Supply module
  .changeset/config.yaml
  .changeset/entries/1af1e0e5417d3079d610bae17da72fd728db64762cdb381b4b3da81d5317c102.yaml
  app/app.go
  docs/architecture/adr-009-supply-module.md
  proto/desmos/supply/v1/query.proto
  x/supply/client/cli/cli_test.go
  x/supply/client/cli/query.go
  x/supply/client/rest/query.go
  x/supply/client/rest/rest.go
  x/supply/keeper/common_test.go
  x/supply/keeper/grpc_query.go
  x/supply/keeper/grpc_query_test.go
  x/supply/keeper/keeper.go
  x/supply/keeper/keeper_test.go
  x/supply/keeper/querier.go
  x/supply/keeper/querier_test.go
  x/supply/module.go
  x/supply/types/keys.go
  x/supply/types/query.go
  x/supply/types/query.pb.go
  x/supply/types/query.pb.gw.go
  x/supply/types/query_test.go
Labels: automerge, kind/adr, x/CLI

#817 chore: fixed tests
  x/supply/keeper/grpc_query_test.go
  x/supply/keeper/keeper_test.go
Labels: automerge

#816 revert: bump github.com/ethereum/go-ethereum from 1.10.16 to 1.10.17
  go.mod
  go.sum
Labels: automerge

#812 build(deps): bump github.com/CosmWasm/wasmvm to v1.0.0-beta10
  .github/workflows/lint.yml
  go.mod
  go.sum
Labels: kind/ci, automerge

#818 chore: added missing changeset entry for #812
  .changeset/entries/d043f6a0d4714847e41f18dd5b2acbd55e0c2fff761d1e0748fd61dcdc9e59b3.yaml
Labels: automerge

#815 fix: subspaces CLI commands and Proto files wrong notations
  .changeset/entries/9823041f2fc00cbc264d66d2f4f7b02652004a1296489aa64b6b7b586d6329a5.yaml
  client/docs/swagger-ui/swagger.yaml
  go.sum
  proto/desmos/subspaces/v1/models.proto
  x/profiles/types/msgs_chain_links.pb.go
  x/profiles/types/query_chain_links.pb.go
  x/subspaces/client/cli/cli_test.go
  x/subspaces/client/cli/query.go
  x/subspaces/client/cli/tx.go
  x/subspaces/types/models.pb.go
Labels: x/profiles, x/subspaces, automerge, x/CLI

#819 docs: improved CLI commands examples
  x/profiles/client/cli/cli_app_links.go
  x/profiles/client/cli/cli_chain_links.go
  x/profiles/client/cli/cli_dtag_requests.go
  x/profiles/client/cli/cli_params.go
  x/profiles/client/cli/cli_profile.go
  x/relationships/client/cli/query.go
  x/relationships/client/cli/tx.go
  x/subspaces/client/cli/query.go
  x/supply/client/cli/query.go
Labels: x/profiles, x/subspaces, automerge, x/CLI

#806 docs(adr): ADR-010: Posts module
  docs/architecture/adr-010-posts-module.md
Labels: automerge, kind/adr

#823 build(deps): bump github.com/desmos-labs/cosmos-sdk to v0.45.3
  go.mod
  go.sum
Labels: automerge

#796 feat: ADR-008: Fees module
  .changeset/config.yaml
  .changeset/entries/e0e50784a9447e03a4cab7f42c4020754fdb7fc2fabae2a8ce80f15be54561e2.yaml
  .github/labeler.yml
  app/ante.go
  app/app.go
  app/sim_test.go
  proto/desmos/fees/v1/genesis.proto
  proto/desmos/fees/v1/min_fee.proto
  proto/desmos/fees/v1/params.proto
  proto/desmos/fees/v1/query.proto
  testutil/simtesting/utils.go
  x/fees/client/cli/query.go
  x/fees/keeper/common_test.go
  x/fees/keeper/fee_decorator.go
  x/fees/keeper/fee_decorator_test.go
  x/fees/keeper/genesis.go
  x/fees/keeper/genesis_test.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/keeper_test.go
  x/fees/module.go
  x/fees/simulation/genesis.go
  x/fees/simulation/params.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/genesis_test.go
  x/fees/types/keys.go
  x/fees/types/min_fee.go
  x/fees/types/min_fee.pb.go
  x/fees/types/min_fee_test.go
  x/fees/types/params.go
  x/fees/types/params.pb.go
  x/fees/types/params_test.go
  x/fees/types/query.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/profiles/module.go
  x/profiles/simulation/operations.go
  x/profiles/simulation/operations_dtag_transfers.go
  x/profiles/simulation/operations_profile.go
  x/relationships/module.go
  x/relationships/simulation/operations.go
  x/relationships/simulation/operations_relationships.go
  x/relationships/simulation/operations_user_blocks.go
  x/subspaces/module.go
  x/subspaces/simulation/operations.go
  x/subspaces/simulation/operations_groups.go
  x/subspaces/simulation/operations_permissions.go
  x/subspaces/simulation/operations_subspaces.go
Labels: x/profiles, kind/ci, x/subspaces, automerge, x/CLI

#821 docs(adr): ADR-011: Reports module
  docs/architecture/adr-011-reports-module.md
Labels: automerge, kind/adr

#829 fix: add missing events and event attributes
  .changeset/entries/bc776b2301982eaae47a6da9ac287a76dace06b0cb1cab882868d56c021dffdc.yaml
  x/profiles/keeper/msg_server_app_link.go
  x/profiles/keeper/msg_server_chain_link.go
  x/profiles/keeper/msg_server_chain_link_test.go
  x/profiles/keeper/msg_server_dtag_transfers.go
  x/profiles/keeper/msg_server_dtag_transfers_test.go
  x/profiles/keeper/msgs_server_profile.go
  x/profiles/keeper/msgs_server_profile_test.go
  x/profiles/types/events.go
  x/relationships/keeper/msg_server.go
  x/relationships/keeper/msg_server_test.go
  x/relationships/types/events.go
  x/subspaces/keeper/msg_server.go
  x/subspaces/keeper/msg_server_test.go
Labels: x/profiles, x/subspaces, automerge, x/relationships

#831 fix!: rename query endpoints to be all in kebab-case
  .changeset/entries/fc7708b5917c157edbbc96281bba1a63928dd2becf8fd057cd3d9592a88f1798.yaml
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/profiles/v2/query.proto
  proto/desmos/supply/v1/query.proto
  x/profiles/types/query.pb.go
  x/profiles/types/query.pb.gw.go
  x/supply/types/query.pb.go
Labels: x/profiles, automerge, x/CLI

#832 fix: fix CLI commands args number
  .changeset/entries/8fea7719728d408975e08ec2ca629f6241c68afe263cc5897d7ebcb0856b4520.yaml
  x/profiles/client/cli/cli_chain_links.go
  x/profiles/client/cli/cli_dtag_requests.go
Labels: x/profiles, automerge, x/CLI

#834 fix: avoid multiple min fees for same message type
  x/fees/types/params.go
  x/fees/types/params_test.go
Labels: automerge, x/fees

#840 fix: add missing profiles commands
  .changeset/entries/68d07218bf30b0b984be4c29146eb71f915df11721ab81b8eec2595ab493ae4d.yaml
  x/profiles/client/cli/cli_app_links.go
  x/profiles/client/cli/cli_app_links_test.go
  x/profiles/client/cli/cli_chain_links.go
  x/profiles/client/cli/cli_chain_links_test.go
  x/profiles/client/cli/query.go
Labels: x/profiles, x/CLI

#842 fix: fixed x/fees query endpoints
  proto/desmos/fees/v1/query.proto
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
Labels: automerge, x/fees

#835 fix: rename x/supply gRPC queries
  proto/desmos/supply/v1/query.proto
  x/supply/client/cli/cli_test.go
  x/supply/client/cli/query.go
  x/supply/client/rest/query.go
  x/supply/keeper/grpc_query.go
  x/supply/keeper/grpc_query_test.go
  x/supply/keeper/keeper_test.go
  x/supply/keeper/querier.go
  x/supply/keeper/querier_test.go
  x/supply/types/query.go
  x/supply/types/query.pb.go
  x/supply/types/query.pb.gw.go
Labels: automerge, x/CLI

#849 fix!: add Amino support for x/subspaces messages
  .changeset/entries/2ceedb22572eba8499b4b7abf8c4b38789a979fa8a852a3537dc9cba4b81bc16.yaml
  x/subspaces/types/codec.go
  x/subspaces/types/msgs_test.go
Labels: x/subspaces
