Repository desmos-labs/desmos, pull requests merged in 2022-09, with the labels that each got.

#727 docs(adr): ADR-007: Address generation of chain link proof
  docs/architecture/adr-007-address-generation-of-chain-link-proof.md
Labels: automerge, kind/adr

#1000 build(deps): bump github.com/cosmos/cosmos-sdk to v0.45.8
  .changeset/entries/1911f9f3a40965372a69aa2bff61e010cc22f87440e377267eecb57e32723fda.yaml
  .changeset/entries/bbb5a13a368d54468992924736eef8ee21fecabd1dcf894150d52e756968ea62.yaml
  go.mod
  go.sum
Labels: automerge

#1001 chore: release v4.4.0
  .changeset/entries/76c4176d740fc86711411d8829b02b6843f201a8c88e8fa0a65ab2f1ac78bd8b.yaml
  .changeset/entries/bbb5a13a368d54468992924736eef8ee21fecabd1dcf894150d52e756968ea62.yaml
  .changeset/entries/c3b6f6719e57ff197e26269ed6f22192e4cc77ab4a99eecc2487c57ae98a7765.yaml
  .changeset/entries/cdb6bd1ba576af9e68b846d50b5e876603932df1df530307867c6a7e8a4174c7.yaml
  CHANGELOG.md
Labels: automerge

#1003 fix: fix on-chain upgrade test
  contrib/upgrade_testnet/setup_genesis.py
Labels: requires-upgrade

#1002 chore: release v4.4.1
  .github/workflows/on-chain-upgrade.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v441/upgrade.go
  contrib/upgrade_testnet/setup_genesis.py
  x/profiles/keeper/migrations.go
  x/profiles/legacy/v8/store.go
  x/profiles/legacy/v8/store_test.go
  x/profiles/module.go
Labels: x/profiles, kind/ci, automerge, requires-upgrade

#1008 fix: fix outdated permissions CLI examples
  x/subspaces/client/cli/tx.go
Labels: x/subspaces, automerge, x/CLI
