Repository desmos-labs/desmos, pull requests merged in 2022-01, with the labels that each got.

#718 build: updated Mergify config
  .mergify.yml
Labels: kind/ci

#716 build(deps): bump github.com/cosmos/ibc-go from v1.2.3 to v2.0.2
  .changeset/entries/331566ccec586bb279a916e3add2434f3b6a3700aa5be51faf3133085bfb7768.yaml
  Makefile
  app/app.go
  app/sim_test.go
  go.mod
  go.sum
  testutil/ibctesting/chain.go
  testutil/ibctesting/coordinator.go
  testutil/ibctesting/types.go
  third_party/proto/cosmos/base/query/v1beta1/pagination.proto
  third_party/proto/cosmos/upgrade/v1beta1/upgrade.proto
  third_party/proto/ibc/core/client/v1/client.proto
  x/profiles/client/cli/cli_app_links.go
  x/profiles/keeper/common_test.go
  x/profiles/keeper/keeper_ibc.go
  x/profiles/keeper/relay_app_links.go
  x/profiles/keeper/relay_app_links_test.go
  x/profiles/module_ibc.go
  x/profiles/types/expected_keeper.go
  x/profiles/types/genesis.go
  x/profiles/types/keys.go
  x/profiles/types/models_chain_links.pb.go
  x/profiles/types/msgs_app_links.go
  x/profiles/types/msgs_app_links.pb.go
  x/profiles/types/msgs_app_links_test.go
Labels: x/profiles, automerge, x/CLI, kind/build

#717 feat: add IBC ante handler
  .changeset/entries/034df6ee16191e8ca2f4ccb5f622fe7253090f6ff773a1797febb2c27b69e70f.yaml
  app/ante.go
  app/app.go
Labels: x/profiles, automerge, x/CLI, kind/build

#627 docs(adr): ADR-004: Expiration of application links
  docs/architecture/adr-004-application-links-expiration.md
Labels: automerge, kind/adr

#720 feat: CosmWasm 1.0.0-beta implementation
  .changeset/entries/2a0f58483ba1a78a98c387a7b1f77456761346794551aa9e2a2cb5b287b82bd6.yaml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  app/ante.go
  app/app.go
  go.mod
  go.sum
  x/profiles/simulation/genesis.go
Labels: x/profiles, kind/ci, automerge, kind/build

#694 docs(adr): ADR-006: Subspaces module
  docs/architecture/adr-006-subspace-module.md
Labels: automerge, kind/adr
