Repository desmos-labs/desmos, pull requests merged in 2022-03, with the labels that each got.

#753 build(ci): fix GitHub actions
  .github/workflows/on-chain-upgrade.yml
  .github/workflows/release.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile-ubuntu
  Makefile
  app/sim_test.go
  x/commons/commons.go
  x/subspaces/keeper/genesis.go
  x/subspaces/keeper/genesis_test.go
  x/subspaces/keeper/groups.go
  x/subspaces/keeper/groups_test.go
  x/subspaces/keeper/permissions.go
  x/subspaces/keeper/subspaces.go
  x/subspaces/simulation/genesis.go
  x/subspaces/simulation/operations_permissions.go
  x/subspaces/simulation/operations_subspaces.go
  x/subspaces/simulation/utils.go
Labels: kind/ci, x/subspaces, automerge, kind/build

#759 fix: add missing events to x/profiles
  .changeset/entries/0c6dff117a0e7eafc80aa5a3932b2f5456d2e7c4056492c123863d9ff82e07b3.yaml
  app/sim_test.go
  x/profiles/keeper/msg_server_app_link.go
  x/profiles/keeper/msg_server_chain_link.go
  x/profiles/keeper/msg_server_chain_link_test.go
  x/profiles/keeper/msg_server_dtag_transfers.go
  x/profiles/keeper/msg_server_dtag_transfers_test.go
  x/profiles/keeper/msgs_server_profile.go
  x/profiles/keeper/msgs_server_profile_test.go
  x/profiles/module_ibc.go
  x/profiles/types/events.go
Labels: x/profiles, automerge

#760 fix: improve x/profiles gRPC queries
  .changeset/entries/b7d41f036b8cf2d8e66ba0ebe06952edad306a3db144c45df640fdf815027e5f.yaml
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/profiles/v3/query.proto
  proto/desmos/profiles/v3/query_app_links.proto
  proto/desmos/profiles/v3/query_chain_links.proto
  proto/desmos/profiles/v3/query_dtag_requests.proto
  x/profiles/client/cli/cli_app_links.go
  x/profiles/client/cli/cli_chain_links.go
  x/profiles/client/cli/cli_dtag_requests.go
  x/profiles/keeper/grpc_query.go
  x/profiles/keeper/grpc_query_test.go
  x/profiles/types/keys.go
  x/profiles/types/query.pb.go
  x/profiles/types/query.pb.gw.go
  x/profiles/types/query_app_links.go
  x/profiles/types/query_app_links.pb.go
  x/profiles/types/query_chain_links.go
  x/profiles/types/query_chain_links.pb.go
  x/profiles/types/query_dtag_requests.pb.go
Labels: x/profiles, automerge, x/CLI

#764 docs(adr): ADR-008 Fees module
  docs/architecture/adr-008-fee-module.md
Labels: kind/adr

#776 fix: Wrong yaml notation in relationships module proto files
  proto/desmos/relationships/v1/models.proto
  x/relationships/types/models.pb.go
Labels: automerge

#784 fix: fixed how profiles-related data are deleted
  .changeset/entries/7f7c55e22eee3075ed73848811f459c72643ab119e8928a1f464b3cb8bec009d.yaml
  x/profiles/keeper/keeper_app_links.go
  x/profiles/keeper/keeper_app_links_test.go
  x/profiles/keeper/keeper_chain_links.go
  x/profiles/keeper/keeper_chain_links_test.go
  x/profiles/keeper/keeper_dtag_transfers.go
  x/profiles/keeper/keeper_dtag_transfers_test.go
  x/profiles/keeper/msg_server_app_link.go
  x/profiles/keeper/msg_server_chain_link.go
  x/profiles/keeper/msg_server_dtag_transfers.go
  x/profiles/legacy/v4/keeper.go
  x/profiles/legacy/v4/store.go
  x/profiles/legacy/v4/store_test.go
Labels: x/profiles, automerge, requires-upgrade

#785 feat: add profiles hooks
  .changeset/entries/1cd6ee38302b45c8b8b5cad9dbafb91c7ae94f7ae8cae567cce5caaa52d8de79.yaml
  Makefile
  x/profiles/keeper/alias_functions_test.go
  x/profiles/keeper/genesis.go
  x/profiles/keeper/genesis_test.go
  x/profiles/keeper/grpc_query_test.go
  x/profiles/keeper/hooks.go
  x/profiles/keeper/invariants_test.go
  x/profiles/keeper/keeper.go
  x/profiles/keeper/keeper_app_links.go
  x/profiles/keeper/keeper_app_links_test.go
  x/profiles/keeper/keeper_chain_links.go
  x/profiles/keeper/keeper_chain_links_test.go
  x/profiles/keeper/keeper_dtag_transfers.go
  x/profiles/keeper/keeper_dtag_transfers_test.go
  x/profiles/keeper/keeper_test.go
  x/profiles/keeper/msg_server_chain_link_test.go
  x/profiles/keeper/msg_server_dtag_transfers.go
  x/profiles/keeper/msg_server_dtag_transfers_test.go
  x/profiles/keeper/msgs_server_profile.go
  x/profiles/keeper/msgs_server_profile_test.go
  x/profiles/keeper/relay_chain_links_test.go
  x/profiles/types/hooks.go
Labels: x/profiles, automerge, kind/build

#786 docs(adr): ADR-009: Supply module
  docs/architecture/adr-009-supply-module.md
Labels: automerge, kind/adr

#795 feat: remove all legacy handlers
  x/profiles/handler.go
  x/profiles/module.go
  x/relationships/handler.go
  x/relationships/module.go
  x/subspaces/handler.go
  x/subspaces/module.go
Labels: x/profiles, x/subspaces, automerge

#793 feat: reverse search links
  .changeset/entries/ed739ae62d392b19a07694f596ae5facae8dbd18ca8eb70bd6be0bc775aee829.yaml
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/profiles/v2/query.proto
  proto/desmos/profiles/v2/query_app_links.proto
  proto/desmos/profiles/v2/query_chain_links.proto
  testutil/profiles.go
  x/profiles/keeper/grpc_query.go
  x/profiles/keeper/grpc_query_test.go
  x/profiles/keeper/keeper_app_links.go
  x/profiles/keeper/keeper_app_links_test.go
  x/profiles/keeper/keeper_chain_links.go
  x/profiles/keeper/keeper_chain_links_test.go
  x/profiles/keeper/keeper_test.go
  x/profiles/keeper/migrations.go
  x/profiles/legacy/v5/store.go
  x/profiles/legacy/v5/store_test.go
  x/profiles/module.go
  x/profiles/types/keys.go
  x/profiles/types/query.pb.go
  x/profiles/types/query.pb.gw.go
  x/profiles/types/query_app_links.go
  x/profiles/types/query_app_links.pb.go
  x/profiles/types/query_chain_links.go
  x/profiles/types/query_chain_links.pb.go
Labels: x/profiles, automerge, x/CLI
