Repository desmos-labs/desmos, pull requests merged in 2022-02, with the labels that each got.

#747 fix: wrong message values usage during subspace creation
  x/subspaces/keeper/msg_server.go
  x/subspaces/keeper/msg_server_test.go
Labels: x/subspaces, automerge

#748 build(ci): improve sim and release workflow
  .github/workflows/release-sims.yml
  .github/workflows/release.yml
  .github/workflows/sims.yml
Labels: kind/ci, automerge

#745 build(ci): auto generate Swagger definition upon push
  .github/workflows/docs.yml
  client/docs/swagger-ui/swagger.yaml
Labels: kind/ci, automerge

#744 feat: subspace default user group
  docs/architecture/adr-006-subspace-module.md
  x/subspaces/client/cli/cli_test.go
  x/subspaces/keeper/genesis.go
  x/subspaces/keeper/genesis_test.go
  x/subspaces/keeper/groups.go
  x/subspaces/keeper/groups_test.go
  x/subspaces/keeper/grpc_query_test.go
  x/subspaces/keeper/msg_server_test.go
  x/subspaces/keeper/subspaces.go
  x/subspaces/keeper/subspaces_test.go
  x/subspaces/simulation/operations_groups.go
  x/subspaces/types/models.go
  x/subspaces/types/msgs.go
  x/subspaces/types/msgs_test.go
Labels: x/subspaces, automerge, kind/adr, x/CLI

#731 chore: replaced expErr with shouldErr inside x/profiles tests
  x/profiles/client/cli/cli_app_links_test.go
  x/profiles/client/cli/cli_chain_links_test.go
  x/profiles/client/cli/cli_dtag_requests_test.go
  x/profiles/client/cli/cli_params_test.go
  x/profiles/client/cli/cli_profile_test.go
  x/profiles/client/cli/cli_relationships_test.go
  x/subspaces/client/cli/cli_test.go
Labels: x/profiles, x/subspaces, automerge, x/CLI

#751 fix: Fixed user query permissions CLI test
  x/subspaces/client/cli/cli_test.go
Labels: x/subspaces, automerge, x/CLI
