Repository desmos-labs/desmos, pull requests merged in 2022-06, with the labels that each got.

#888 chore: fix failing posts test
  x/posts/types/models.pb.go
  x/posts/types/models_test.go
Labels: automerge

#891 docs(adr): ADR-016: Reactions module
  docs/architecture/adr-016-reactions-module.md
Labels: automerge, kind/adr

#894 fix: fix external hooks to not overwrite data
  x/posts/keeper/external_hooks.go
  x/posts/keeper/external_hooks_test.go
  x/reports/keeper/external_hooks.go
  x/reports/keeper/external_hooks_test.go
Labels: automerge

#893 chore: improve x/posts genesis state
  proto/desmos/posts/v1/genesis.proto
  x/posts/client/cli/cli_test.go
  x/posts/keeper/genesis.go
  x/posts/keeper/genesis_test.go
  x/posts/simulation/genesis.go
  x/posts/simulation/utils.go
  x/posts/types/genesis.go
  x/posts/types/genesis.pb.go
  x/posts/types/genesis_test.go
  x/reports/client/cli/cli_test.go
  x/reports/simulation/genesis.go
Labels: automerge, x/CLI

#897 docs: renamed specs files
  x/fees/spec/01-overview.md
  x/fees/spec/02-concepts.md
  x/fees/spec/02_state.md
  x/fees/spec/03-state.md
  x/fees/spec/04-ante-handlers.md
  x/fees/spec/05-parameters.md
  x/fees/spec/06-client.md
  x/fees/spec/README.md
  x/relationships/spec/01-overview.md
  x/relationships/spec/02-concepts.md
  x/relationships/spec/03-state.md
  x/relationships/spec/04-messages.md
  x/relationships/spec/05-events.md
  x/relationships/spec/06-client.md
  x/relationships/spec/README.md
  x/supply/spec/01-overview.md
  x/supply/spec/02-concepts.md
  x/supply/spec/03-client.md
Labels: docs/improvement, x/relationships, x/fees

#899 feat: require a profile for MsgCreatePost, MsgAnswerPoll and MsgCreateReport
  app/app.go
  x/posts/abci_test.go
  x/posts/keeper/alias_functions.go
  x/posts/keeper/common_test.go
  x/posts/keeper/keeper.go
  x/posts/keeper/msg_server.go
  x/posts/keeper/msg_server_test.go
  x/posts/simulation/operations_polls.go
  x/posts/simulation/operations_posts.go
  x/posts/types/expected_keepers.go
  x/reports/keeper/alias_functions.go
  x/reports/keeper/common_test.go
  x/reports/keeper/keeper.go
  x/reports/keeper/msg_server.go
  x/reports/keeper/msg_server_test.go
  x/reports/simulation/operations_reports.go
  x/reports/types/expected_keepers.go
Labels: automerge

#900 chore: add missing chain link simulation tests
  app/desmos/cmd/chainlink/create_json_test.go
  app/params/weights.go
  testutil/profilestesting/chain_links.go
  testutil/profilestesting/profiles.go
  testutil/storetesting/context.go
  x/posts/keeper/msg_server_test.go
  x/posts/legacy/v2/store_test.go
  x/profiles/client/cli/cli_test.go
  x/profiles/client/utils/utils_test.go
  x/profiles/keeper/alias_functions_test.go
  x/profiles/keeper/genesis_test.go
  x/profiles/keeper/grpc_query_test.go
  x/profiles/keeper/invariants_test.go
  x/profiles/keeper/keeper_app_links_test.go
  x/profiles/keeper/keeper_chain_links_test.go
  x/profiles/keeper/keeper_dtag_transfers_test.go
  x/profiles/keeper/keeper_test.go
  x/profiles/keeper/msg_server_chain_link_test.go
  x/profiles/keeper/msg_server_dtag_transfers_test.go
  x/profiles/keeper/msgs_server_profile_test.go
  x/profiles/keeper/relay_app_links_test.go
  x/profiles/keeper/relay_chain_links_test.go
  x/profiles/legacy/v4/store_test.go
  x/profiles/legacy/v5/store_test.go
  x/profiles/simulation/genesis.go
  x/profiles/simulation/operations.go
  x/profiles/simulation/operations_chain_links.go
  x/profiles/simulation/utils.go
  x/profiles/types/account_test.go
  x/profiles/types/genesis_test.go
  x/profiles/types/models_chain_links_test.go
  x/profiles/types/models_packets_test.go
  x/profiles/types/msgs_chain_links_test.go
  x/reports/keeper/msg_server_test.go
  x/reports/legacy/v2/store_test.go
  x/subspaces/legacy/v2/store_test.go
  x/subspaces/legacy/v3/store_test.go
Labels: x/profiles, x/subspaces, automerge, x/CLI

#902 chore: improve the x/reports CLI commands
  go.mod
  x/reports/client/cli/cli_test.go
  x/reports/client/cli/flags.go
  x/reports/client/cli/query.go
  x/reports/client/cli/tx.go
Labels: automerge, x/CLI

#903 chore: improved CmdCreatePost tests
  x/posts/client/cli/cli_test.go
Labels: automerge, x/CLI

#906 chore: improve x/reports validation test
  x/reports/keeper/reports.go
  x/reports/keeper/reports_test.go
Labels: automerge

#904 chore: add norace build tags to CLI tests
  x/posts/client/cli/cli_test.go
  x/profiles/client/cli/cli_app_links_test.go
  x/profiles/client/cli/cli_chain_links_test.go
  x/profiles/client/cli/cli_dtag_requests_test.go
  x/profiles/client/cli/cli_params_test.go
  x/profiles/client/cli/cli_profile_test.go
  x/profiles/client/cli/cli_test.go
  x/relationships/client/cli/cli_test.go
  x/reports/client/cli/cli_test.go
  x/subspaces/client/cli/cli_test.go
  x/supply/client/cli/cli_test.go
Labels: x/profiles, x/subspaces, automerge, x/CLI, x/relationships

#830 docs: DCD-25: add x/profiles spec
  x/profiles/spec/01_concepts.md
  x/profiles/spec/02_state.md
  x/profiles/spec/03_messages.md
  x/profiles/spec/04_events.md
  x/profiles/spec/05_params.md
  x/profiles/spec/06_client.md
  x/profiles/spec/README.md
Labels: docs/new, x/profiles

#917 chore: improve enum names
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/posts/v1/models.proto
  x/posts/client/cli/cli_test.go
  x/posts/keeper/msg_server_test.go
  x/posts/keeper/posts.go
  x/posts/keeper/posts_test.go
  x/posts/simulation/decoder_test.go
  x/posts/types/models.go
  x/posts/types/models.pb.go
  x/posts/types/models_test.go
  x/posts/types/msgs_test.go
Labels: automerge, x/CLI

#918 docs: fixed profiles specs links
  x/profiles/spec/02-concepts.md
  x/profiles/spec/04-messages.md
Labels: x/profiles

#920 revert: "build(deps): bump github.com/ethereum/go-ethereum from 1.10.18 to 1.10.19"
  go.mod
  go.sum
Labels: automerge

#922 chore: add missing Proto Cosmos annotations
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/posts/v1/models.proto
  proto/desmos/posts/v1/msgs.proto
  proto/desmos/reactions/v1/models.proto
  proto/desmos/reactions/v1/msgs.proto
  proto/desmos/reports/v1/models.proto
  proto/desmos/reports/v1/msgs.proto
  proto/desmos/reports/v1/query.proto
  x/posts/types/models.go
  x/posts/types/models.pb.go
  x/posts/types/msgs.pb.go
  x/reactions/types/models.pb.go
  x/reactions/types/msgs.pb.go
  x/reports/types/models.pb.go
  x/reports/types/msgs.pb.go
  x/reports/types/query.pb.go
Labels: automerge

#919 feat: add x/authz support
  .changeset/entries/f809a383a5d33cf5b09c719622ba42e72a96c857bae71bf8d2fa09f3077323c2.yaml
  go.mod
  go.sum
  proto/desmos/subspaces/v2/authz/authz.proto
  x/posts/types/codec.go
  x/posts/types/models.go
  x/profiles/types/codec.go
  x/reactions/types/codec.go
  x/relationships/types/codec.go
  x/reports/types/codec.go
  x/subspaces/authz/authz.go
  x/subspaces/authz/authz.pb.go
  x/subspaces/authz/authz_test.go
  x/subspaces/authz/codec.go
  x/subspaces/client/cli/cli_test.go
  x/subspaces/client/cli/tx.go
  x/subspaces/module.go
  x/subspaces/types/codec.go
  x/subspaces/types/models.go
  x/subspaces/types/msgs.go
Labels: x/profiles, x/subspaces, automerge, x/CLI, x/relationships

#929 fix: fixed poll answers query CLI command
  x/posts/client/cli/cli_test.go
  x/posts/client/cli/query.go
Labels: automerge, x/CLI

#927 feat: add v4.0.0 upgrade handler
  .changeset/entries/8e3d1d3f5bce775b80851d2757f6de108f5f76c6636be2235359c8b0c2306ffe.yaml
  .github/workflows/on-chain-upgrade.yml
  app/app.go
  app/upgrades/v400/upgrade.go
  contrib/upgrade_testnet/docker-compose.yml
  x/posts/keeper/migrations.go
  x/posts/legacy/v2/store.go
  x/posts/legacy/v2/store_test.go
  x/reactions/client/cli/tx.go
  x/reactions/keeper/migrations.go
  x/reactions/legacy/v2/store.go
  x/reactions/legacy/v2/store_test.go
  x/reports/client/cli/tx.go
  x/reports/keeper/migrations.go
  x/reports/legacy/v2/store.go
  x/reports/legacy/v2/store_test.go
Labels: kind/ci, automerge, x/CLI, requires-upgrade

#932 chore: improve the posts queries REST paths
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/posts/v1/query.proto
  x/posts/types/query.pb.go
  x/posts/types/query.pb.gw.go
Labels: automerge

#931 feat: add missing reactions queries methods
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/reactions/v1/query.proto
  x/reactions/client/cli/cli_test.go
  x/reactions/client/cli/query.go
  x/reactions/keeper/grpc_query.go
  x/reactions/keeper/grpc_query_test.go
  x/reactions/types/query.go
  x/reactions/types/query.pb.go
  x/reactions/types/query.pb.gw.go
Labels: automerge, x/CLI

#930 feat: add missing reports queries methods
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/reports/v1/query.proto
  x/reports/client/cli/cli_test.go
  x/reports/client/cli/query.go
  x/reports/keeper/grpc_query.go
  x/reports/keeper/grpc_query_test.go
  x/reports/types/query.go
  x/reports/types/query.pb.go
  x/reports/types/query.pb.gw.go
Labels: automerge, x/CLI

#933 feat: add missing reports wasm routes
  app/wasm_config.go
  cosmwasm/msg_parser.go
  cosmwasm/query_parser.go
  go.mod
  x/posts/wasm/common_test.go
  x/posts/wasm/msg_parser.go
  x/posts/wasm/msg_parser_test.go
  x/posts/wasm/querier.go
  x/profiles/wasm/common_test.go
  x/profiles/wasm/msg_parser.go
  x/profiles/wasm/msg_parser_test.go
  x/profiles/wasm/querier.go
  x/profiles/wasm/querier_test.go
  x/reactions/wasm/msg_parser.go
  x/reactions/wasm/querier_test.go
  x/relationships/wasm/common_test.go
  x/relationships/wasm/msg_parser.go
  x/relationships/wasm/msg_parser_test.go
  x/relationships/wasm/querier.go
  x/relationships/wasm/querier_test.go
  x/reports/types/wasm.go
  x/reports/wasm/common_test.go
  x/reports/wasm/msg_parser.go
  x/reports/wasm/querier.go
  x/reports/wasm/querier_test.go
  x/subspaces/wasm/common_test.go
  x/subspaces/wasm/msg_parser.go
  x/subspaces/wasm/msg_parser_test.go
  x/subspaces/wasm/querier_test.go
Labels: x/profiles, x/subspaces, automerge, x/relationships

#934 feat: add missing reactions wasm routes
  x/reactions/types/query.pb.go
  x/reactions/types/query.pb.gw.go
  x/reactions/types/wasm.go
  x/reactions/wasm/common_test.go
  x/reactions/wasm/querier.go
  x/reactions/wasm/querier_test.go
Labels: automerge

#937 chore: release v4.0.0
  .changeset/entries/3489ea7d8448d67973d894bf2c2be7f28fd259f3d339ec4f03d8ea741990ec41.yaml
  .changeset/entries/47aa81d9aa83c20b4f20b877a2b3d5a45dacd709daeed3d4d5c247fd178154d1.yaml
  .changeset/entries/4bd081c55da7be1780b42ddcfcb31ea39143a2223f69ef97e44c347d2528f1c7.yaml
  .changeset/entries/4f5fc33e12f7e7c70e86f7673610e57cf287522455e702b5855dfbddc5789b7c.yaml
  .changeset/entries/72bc29b6f6aec4b3f39cd78f067db471dcdd82f056579158b3baec1d444fdd6e.yaml
  .changeset/entries/8e3d1d3f5bce775b80851d2757f6de108f5f76c6636be2235359c8b0c2306ffe.yaml
  .changeset/entries/f05be9e498c60b54bc0db2bf70d9b5660a0ad227da70dc03061063957e756e9c.yaml
  .changeset/entries/f809a383a5d33cf5b09c719622ba42e72a96c857bae71bf8d2fa09f3077323c2.yaml
  CHANGELOG.md
Labels: automerge

#939 chore: fix v4.0.0 upgrade store loader
  app/upgrades/v400/upgrade.go
Labels: automerge

#940 chore: fix x/reactions events
  .changeset/entries/e2fa8c09bd5014df0ee3eadc345fd6d139a7196709dd70539791c2154a36a2af.yaml
  x/reactions/keeper/msg_server.go
  x/reactions/keeper/msg_server_test.go
Labels: automerge

#941 fix: remove position validation from post entities and references
  .changeset/entries/746e35e47af0507db333384fe80011d6170bc2c7ffb4c742da6d9d8b2513f586.yaml
  x/posts/types/models.go
  x/posts/types/models_test.go
Labels: automerge

#945 fix: fix user permissions query to allow specifying the section id
  .changeset/entries/89a6ce8b6e5376c6eef0acd1f6342940216d93fda0dc62b31a84c6b4f791fabe.yaml
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/subspaces/v2/query.proto
  x/subspaces/client/cli/cli_test.go
  x/subspaces/client/cli/query.go
  x/subspaces/keeper/grpc_query_test.go
  x/subspaces/types/query.go
  x/subspaces/types/query.pb.go
  x/subspaces/wasm/querier_test.go
Labels: x/subspaces, automerge, x/CLI

#946 feat: update wasm parser for v1.0.0 cosmwasm std
  cosmwasm/msg_parser.go
  cosmwasm/query_parser.go
Labels: cosmwasm, automerge

#947 fix: fixed x/posts codec interface registered version
  x/posts/types/codec.go
Labels: automerge
