Repository desmos-labs/desmos, pull requests merged in 2022-07, with the labels that each got.

#949 fix: wrong section name argument CLI command
  x/subspaces/client/cli/tx.go
Labels: x/subspaces, automerge, x/CLI

#951 chore: add missing YAML tags
  proto/desmos/posts/v2/models.proto
  proto/desmos/posts/v2/msgs.proto
  x/posts/types/models.pb.go
  x/posts/types/msgs.pb.go
Labels: automerge

#955 chore: fix wrong names inside reports CLI commands
  x/reports/client/cli/query.go
  x/reports/client/cli/tx.go
Labels: automerge, x/CLI

#952 chore: release v4.0.1
  CHANGELOG.md
  app/upgrades/v400/upgrade.go
Labels: automerge

#954 fix: added missing unlink wasm msgs parser
  .changeset/entries/a95f200d5bb4f0ae79b9f221e0ef22e7266af1b3064faeca87fcaa56168079f1.yaml
  x/profiles/types/wasm.go
  x/profiles/wasm/common_test.go
  x/profiles/wasm/msg_parser.go
  x/profiles/wasm/msg_parser_test.go
Labels: x/profiles, automerge

#953 feat: migrate attachments and user answers
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/posts/v2/models.proto
  x/posts/legacy/v2/codec.go
  x/posts/legacy/v2/models.go
  x/posts/legacy/v3/store.go
  x/posts/legacy/v3/store_test.go
  x/posts/module.go
  x/posts/types/models.pb.go
Labels: automerge, x/CLI

#956 build: update golangci-lint to v1.46.2
  .golangci.yml
  Makefile
  app/desmos/cmd/testnet.go
  go.mod
  go.sum
  testutil/ibctesting/chain.go
  tools/tools.go
  x/oracle/types/keys.go
  x/posts/simulation/operations.go
  x/profiles/keeper/grpc_query.go
  x/profiles/simulation/operations.go
  x/relationships/simulation/operations.go
  x/subspaces/keeper/permissions.go
Labels: x/profiles, kind/ci, x/subspaces, automerge, kind/build, x/relationships

#960 chore: fix `x/reactions` CLI commands examples
  x/reactions/client/cli/query.go
  x/reactions/client/cli/tx.go
Labels: automerge, x/CLI

#961 fix: fix json fields naming of ReportsMsg
  x/reports/types/wasm.go
Labels: cosmwasm, automerge

#959 feat: add v4.1.0 upgrade handler
  .github/workflows/on-chain-upgrade.yml
  app/app.go
  app/upgrades/v410/upgrade.go
  contrib/upgrade_testnet/setup_genesis.py
  x/posts/legacy/v3/store_test.go
Labels: kind/ci, automerge, requires-upgrade

#962 chore: release v4.1.0
  .changeset/entries/746e35e47af0507db333384fe80011d6170bc2c7ffb4c742da6d9d8b2513f586.yaml
  .changeset/entries/89a6ce8b6e5376c6eef0acd1f6342940216d93fda0dc62b31a84c6b4f791fabe.yaml
  .changeset/entries/a95f200d5bb4f0ae79b9f221e0ef22e7266af1b3064faeca87fcaa56168079f1.yaml
  .changeset/entries/e2fa8c09bd5014df0ee3eadc345fd6d139a7196709dd70539791c2154a36a2af.yaml
  .changeset/entries/fbe3c507a984b269c88004a4bcde899c907faee6a68ef22cba6fe77b28709132.yaml
  CHANGELOG.md
Labels: automerge

#910 docs: add `x/subspaces` spec
  x/subspaces/spec/01-overview.md
  x/subspaces/spec/02-concepts.md
  x/subspaces/spec/03-state.md
  x/subspaces/spec/04-messages.md
  x/subspaces/spec/05-events.md
  x/subspaces/spec/06-permissions.md
  x/subspaces/spec/07-client.md
Labels: docs/new, x/subspaces, automerge

#958 docs: add `x/reactions` specs
  x/profiles/spec/05-events.md
  x/reactions/spec/01-overview.md
  x/reactions/spec/02-concepts.md
  x/reactions/spec/03-state.md
  x/reactions/spec/04-messages.md
  x/reactions/spec/05-events.md
  x/reactions/spec/06-permissions.md
  x/reactions/spec/07-client.md
Labels: docs/new, x/profiles, automerge

#957 docs: add `x/reports` specs
  x/reports/spec/01-overview.md
  x/reports/spec/02-concepts.md
  x/reports/spec/03-state.md
  x/reports/spec/04-messages.md
  x/reports/spec/05-events.md
  x/reports/spec/06-permissions.md
  x/reports/spec/07-params.md
  x/reports/spec/08-client.md
Labels: docs/new, automerge

#963 docs: fixed specs problems
  x/profiles/spec/04-messages.md
  x/reactions/spec/04-messages.md
  x/reactions/spec/06-permissions.md
  x/relationships/spec/04-messages.md
  x/reports/spec/04-messages.md
  x/reports/spec/06-permissions.md
  x/subspaces/spec/04-messages.md
  x/subspaces/spec/06-permissions.md
Labels: x/profiles, x/subspaces, x/relationships

#964 fix: do not allow to answer a poll after voting period ends
  .changeset/entries/62bf6c9bac7b77295632276f7e66130725d7fec458bd73f5f195daea2905009f.yaml
  x/posts/keeper/migrations.go
  x/posts/keeper/msg_server.go
  x/posts/keeper/msg_server_test.go
  x/posts/legacy/v4/store.go
  x/posts/legacy/v4/store_test.go
  x/posts/module.go
  x/posts/simulation/operations_polls.go
  x/posts/spec/04-messages.md
Labels: automerge

#965 build: add benchmarks workflow
  .github/workflows/benchmarks.yml
  Makefile
Labels: kind/ci, automerge, kind/build

#971 fix!: profile query returns nil if profile does not exist
  .changeset/entries/e8fdc65b9f41e85409395d7e7b317f59f6d7be1ff3f8a92ebb30dafeb3254d4e.yaml
  x/profiles/client/cli/cli_profile_test.go
  x/profiles/keeper/grpc_query.go
  x/profiles/keeper/grpc_query_test.go
Labels: x/profiles, automerge, x/CLI

#974 feat!: allow to set initial members during user group creation
  .changeset/entries/778ed3c87c8ba17a37bb9117fc0aa014f056400bb6fa661109af351e6cff1965.yaml
  Makefile
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/subspaces/v3/authz/authz.proto
  proto/desmos/subspaces/v3/genesis.proto
  proto/desmos/subspaces/v3/models.proto
  proto/desmos/subspaces/v3/msgs.proto
  proto/desmos/subspaces/v3/query.proto
  third_party/proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  x/posts/spec/04-messages.md
  x/profiles/spec/04-messages.md
  x/reactions/spec/04-messages.md
  x/relationships/spec/04-messages.md
  x/reports/spec/04-messages.md
  x/subspaces/authz/authz.pb.go
  x/subspaces/client/cli/cli_test.go
  x/subspaces/client/cli/tx.go
  x/subspaces/keeper/msg_server.go
  x/subspaces/keeper/msg_server_test.go
  x/subspaces/simulation/operations_groups.go
  x/subspaces/spec/04-messages.md
  x/subspaces/spec/07-client.md
  x/subspaces/types/genesis.pb.go
  x/subspaces/types/models.pb.go
  x/subspaces/types/msgs.go
  x/subspaces/types/msgs.pb.go
  x/subspaces/types/msgs_test.go
  x/subspaces/types/query.pb.go
  x/subspaces/types/query.pb.gw.go
  x/subspaces/wasm/msg_parser_test.go
Labels: x/profiles, x/subspaces, automerge, x/CLI, kind/build, x/relationships

#978 fix: fix posts query paths version
  .changeset/entries/3a184bbe897e045ad77c088ea8c1170da446358153bcc5fdbaa33a1d68bc952f.yaml
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/posts/v2/query.proto
  x/posts/types/query.pb.go
  x/posts/types/query.pb.gw.go
Labels: automerge, x/CLI

#980 fix: add missing profiles params upgrade
  .changeset/entries/bf68d0c892177d2c1249cdacc6e9f283c42413d91a6fa33be87a8288ae5d2b0f.yaml
  x/profiles/keeper/migrations.go
  x/profiles/legacy/v5/types/models_params.go
  x/profiles/legacy/v7/store.go
  x/profiles/legacy/v7/store_test.go
  x/profiles/module.go
Labels: x/profiles, automerge

#981 fix: add missing subspaces authz migration
  .changeset/entries/949c3ef6e6aaea51b5bb253dc3eedc16e6f3b9dd6dfbf0cbb7406719d61285d8.yaml
  app/app.go
  proto/desmos/subspaces/v2/authz/authz.proto
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v2/authz.go
  x/subspaces/legacy/v2/authz.pb.go
  x/subspaces/legacy/v2/codec.go
  x/subspaces/legacy/v4/store.go
  x/subspaces/legacy/v4/store_test.go
  x/subspaces/module.go
Labels: x/subspaces, automerge

#983 chore: release v4.3.0
  .changeset/entries/3a184bbe897e045ad77c088ea8c1170da446358153bcc5fdbaa33a1d68bc952f.yaml
  .changeset/entries/949c3ef6e6aaea51b5bb253dc3eedc16e6f3b9dd6dfbf0cbb7406719d61285d8.yaml
  .changeset/entries/bf68d0c892177d2c1249cdacc6e9f283c42413d91a6fa33be87a8288ae5d2b0f.yaml
  .github/workflows/on-chain-upgrade.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v430/upgrade.go
Labels: kind/ci, automerge, requires-upgrade
