Repository desmos-labs/desmos, pull requests merged in 2022-12, with the labels that each got.

#1006 feat: add v4 on-chain upgrade handler
  .changeset/entries/8a8a56d978f6eac52067a34f5e368d51999d6860de5be8e0ad8695c85e9b8030.yaml
  .changeset/entries/c080d8d00d0cd4b7395dd62bd6fbc8eb10edeebbbac74cc46d5b28eacee163c9.yaml
  .changeset/entries/d73fedf7b51a4d49c0e6208dd333b8e35ea850f103567f049a2797853dfbdcf0.yaml
  .github/workflows/on-chain-upgrade.yml
  app/app.go
  app/upgrades/v4/upgrade.go
  contrib/upgrade_testnet/submit_upgrade_proposal.sh
Labels: kind/ci, automerge, requires-upgrade

#1059 feat: support Ledger while signing values
  .changeset/entries/3683281eb33362e34b90fb34583413bdbc77a382d143ca61470e39138ca1784c.yaml
  app/desmos/cmd/chainlink/builder/multi/builder.go
  app/desmos/cmd/chainlink/create_json.go
  app/desmos/cmd/sign/sign.go
  app/export.go
  x/posts/client/utils/utils.go
  x/posts/simulation/operations.go
  x/profiles/client/utils/utils.go
  x/profiles/keeper/keeper.go
  x/profiles/keeper/relay_app_links.go
  x/profiles/keeper/relay_chain_links.go
  x/profiles/legacy/v4/store.go
  x/profiles/legacy/v5/types/models_chain_links.go
  x/profiles/simulation/operations.go
  x/profiles/simulation/utils.go
  x/profiles/types/models_chain_links.go
  x/profiles/types/models_packets.go
  x/profiles/types/msgs_app_links.go
  x/reactions/client/utils/utils.go
  x/relationships/legacy/v1/store.go
  x/relationships/simulation/operations.go
Labels: x/profiles, automerge, x/CLI, x/relationships

#1060 docs: fix subspaces messgaes proto visualization
  x/subspaces/spec/04-messages.md
Labels: docs/improvement, x/subspaces, automerge
