Repository desmos-labs/desmos, pull requests merged in 2023-01, with the labels that each got.

#1062 docs(adr): New subspace treasury account structure
  docs/architecture/adr-017-subspace-fee-grant.md
  docs/architecture/adr-018-improve-subspace-treasury-account.md
Labels: automerge, kind/adr

#1061 build(ci): add mutation testing
  .changeset/entries/43407cab0ad8588c2ad460e3263a18402e65f441fdd5abe33d7c1be740faf0df.yaml
  .github/workflows/mutest.yml
  Makefile
  go.mod
  go.sum
  scripts/mutation-test.sh
  tools/tools.go
Labels: kind/ci, automerge, kind/build

#1064 feat: improve profiles iteration methods
  x/profiles/abci.go
  x/profiles/keeper/alias_functions.go
  x/profiles/keeper/alias_functions_test.go
  x/profiles/keeper/invariants.go
  x/profiles/keeper/keeper_app_links.go
  x/profiles/keeper/keeper_chain_links.go
  x/profiles/keeper/keeper_chain_links_test.go
  x/profiles/keeper/keeper_dtag_transfers.go
  x/profiles/keeper/keeper_dtag_transfers_test.go
Labels: x/profiles, automerge

#1065 build(ci): fix build-docs-preview URL commenting
  .github/workflows/build-docs-preview.yaml
Labels: automerge

#1066 docs: fix typos
  docs/docs/02-developers/01-overview.md
  docs/docs/02-developers/03-tools-to-build.md
  docs/docs/02-developers/04-query-data.md
  docs/docs/02-developers/07-faq.md
Labels: automerge

#1063 chore(tests): improve profiles test using gomock
  .changeset/entries/482c777daf0d9303e99001c1d9d14d9bcd721ddeaac0657c3dce4de407491388.yaml
  go.mod
  go.sum
  tools/tools.go
  x/profiles/keeper/alias_functions_test.go
  x/profiles/keeper/common_test.go
  x/profiles/keeper/genesis.go
  x/profiles/keeper/genesis_test.go
  x/profiles/keeper/msg_server_dtag_transfers_test.go
  x/profiles/testutil/expected_keepers_mocks.go
  x/profiles/types/expected_keepers.go
Labels: x/profiles, automerge

#1067 feat!: implement new treasury account
  Makefile
  app/app.go
  app/params/weights.go
  proto/desmos/subspaces/v3/msgs.proto
  proto/desmos/subspaces/v3/msgs_treasury.proto
  third_party/proto/cosmos/authz/v1beta1/authz.proto
  x/posts/abci_test.go
  x/posts/keeper/common_test.go
  x/posts/legacy/v2/store_test.go
  x/posts/wasm/common_test.go
  x/profiles/abci_test.go
  x/profiles/wasm/common_test.go
  x/reactions/keeper/common_test.go
  x/reactions/legacy/v2/store_test.go
  x/reactions/wasm/common_test.go
  x/relationships/keeper/common_test.go
  x/relationships/wasm/common_test.go
  x/reports/keeper/common_test.go
  x/reports/legacy/v2/store_test.go
  x/reports/wasm/common_test.go
  x/subspaces/client/cli/cli_test.go
  x/subspaces/client/cli/tx.go
  x/subspaces/client/cli/tx_treasury.go
  x/subspaces/client/cli/tx_treasury_test.go
  x/subspaces/keeper/alias_functions.go
  x/subspaces/keeper/common_test.go
  x/subspaces/keeper/keeper.go
  x/subspaces/keeper/keeper_test.go
  x/subspaces/keeper/migrations.go
  x/subspaces/keeper/msg_server.go
  x/subspaces/keeper/msg_server_test.go
  x/subspaces/keeper/msg_server_treasury.go
  x/subspaces/keeper/msg_server_treasury_test.go
  x/subspaces/legacy/v3/store.go
  x/subspaces/legacy/v5/expected_keepers.go
  x/subspaces/legacy/v5/store.go
  x/subspaces/legacy/v5/store_test.go
  x/subspaces/module.go
  x/subspaces/simulation/operations.go
  x/subspaces/simulation/operations_subspaces.go
  x/subspaces/simulation/operations_treasury.go
  x/subspaces/types/codec.go
  x/subspaces/types/events.go
  x/subspaces/types/expected_keepers.go
  x/subspaces/types/keys.go
  x/subspaces/types/models.go
  x/subspaces/types/models_test.go
  x/subspaces/types/msgs.go
  x/subspaces/types/msgs.pb.go
  x/subspaces/types/msgs_test.go
  x/subspaces/types/msgs_treasury.go
  x/subspaces/types/msgs_treasury.pb.go
  x/subspaces/types/msgs_treasury_test.go
  x/subspaces/types/permissions.go
  x/subspaces/types/wasm.go
  x/subspaces/wasm/common_test.go
  x/subspaces/wasm/msg_parser.go
  x/subspaces/wasm/msg_parser_test.go
Labels: x/profiles, x/subspaces, automerge, x/CLI, kind/build, x/relationships

#1068 chore(tests): improve posts tests using gomock
  .changeset/entries/c22f77f167b8cab1dfa628c78fdf19586a72b9eab11ea67fbe57d81209e82b54.yaml
  x/posts/keeper/common_test.go
  x/posts/keeper/msg_server_test.go
  x/posts/keeper/posts_test.go
  x/posts/testutil/expected_keepers_mocks.go
Labels: automerge

#1070 docs(adr): revise ADR 017 subspace fee grant
  docs/architecture/adr-017-subspace-fee-grant.md
Labels: automerge, kind/adr

#1069 fix: register missing Wasm snapshotter extension
  .changeset/entries/f7bb961b8872d11fc00ebe6d43c2e5a6fae4f1fb0e63eb9f8b2d3db360260b97.yaml
  app/app.go
  x/posts/testutil/expected_keepers_mocks.go
  x/profiles/keeper/genesis_test.go
  x/subspaces/client/cli/tx_treasury.go
  x/subspaces/client/cli/tx_treasury_test.go
  x/subspaces/keeper/msg_server_treasury.go
  x/subspaces/legacy/v5/store.go
  x/subspaces/legacy/v5/store_test.go
  x/subspaces/types/models_test.go
  x/subspaces/types/msgs_treasury_test.go
Labels: x/profiles, x/subspaces, automerge, x/CLI

#1073 chore: release v4.7.1
  .github/workflows/on-chain-upgrade.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v300/upgrade.go
  app/upgrades/v310/upgrade.go
  app/upgrades/v320/upgrade.go
  app/upgrades/v400/upgrade.go
  app/upgrades/v420/upgrade.go
  app/upgrades/v430/upgrade.go
  app/upgrades/v441/upgrade.go
  app/upgrades/v450/upgrade.go
  app/upgrades/v460/upgrade.go
  app/upgrades/v470/upgrade.go
  app/upgrades/v471/upgrade.go
Labels: kind/ci, automerge, requires-upgrade

#1074 fix!: register MsgDeleteSubspace within Amino codec
  .changeset/entries/910f8ded0fd0361d9d354227986d2a425ee4ec342e8747345ea97261d383f4bf.yaml
  x/subspaces/types/codec.go
  x/subspaces/types/msgs_test.go
Labels: x/subspaces, automerge
