Repository desmos-labs/desmos, pull requests merged in 2023-03, with the labels that each got.

#1090 chore(tests): improve relationships tests using gomock
  x/relationships/keeper/common_test.go
  x/relationships/keeper/msg_server_test.go
  x/relationships/testutil/expected_keepers_mocks.go
  x/relationships/types/expected_keepers.go
Labels: automerge, x/relationships

#1101 docs: update genesis file hashsum
  docs/docs/06-mainnet/01-genesis-file.md
Labels: automerge

#1103 fix: fix subspace account creation
  x/subspaces/keeper/alias_functions.go
Labels: x/subspaces, automerge
