Repository desmos-labs/desmos, pull requests merged in 2023-07, with the labels that each got.

#1188 refactor: remove app v1 in favor of app v2
  .changeset/entries/2233aa83f4ea3b3eb6a46cb4c45811a1ba167ce0a4da4face2a70ec94dbf6d87.yaml
  Makefile
  app/app.go
  app/app_module_config.go
  app/app_v2.go
Labels: kind/build

#1189 build(ci): fix proto swagger gen
  .github/workflows/docs.yml
Labels: kind/ci

#1194 refactor: update tokenfactory version to v1
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/tokenfactory/v1/genesis.proto
  proto/desmos/tokenfactory/v1/models.proto
  proto/desmos/tokenfactory/v1/msgs.proto
  proto/desmos/tokenfactory/v1/params.proto
  proto/desmos/tokenfactory/v1/query.proto
  x/tokenfactory/types/genesis.pb.go
  x/tokenfactory/types/models.pb.go
  x/tokenfactory/types/msgs.pb.go
  x/tokenfactory/types/params.pb.go
  x/tokenfactory/types/query.pb.go
  x/tokenfactory/types/query.pb.gw.go
Labels: x/CLI

#1190 docs: update spec files to match latest changes
  docs/docs/02-developers/01-overview.md
  docs/docs/02-developers/03-tools-to-build.md
  docs/docs/02-developers/04-query-data.md
  x/posts/spec/01-overview.md
  x/posts/spec/02-concepts.md
  x/posts/spec/03-state.md
  x/posts/spec/04-messages.md
  x/posts/spec/05-events.md
  x/posts/spec/08-client.md
  x/profiles/spec/07-client.md
  x/subspaces/spec/01-overview.md
  x/subspaces/spec/02-concepts.md
  x/subspaces/spec/03-state.md
  x/subspaces/spec/04-messages.md
  x/subspaces/spec/05-events.md
  x/subspaces/spec/06-permissions.md
  x/subspaces/spec/07-client.md
  x/supply/spec/03-client.md
  x/tokenfactory/spec/01-overview.md
  x/tokenfactory/spec/02-concepts.md
  x/tokenfactory/spec/03-state.md
  x/tokenfactory/spec/04-messages.md
  x/tokenfactory/spec/05-events.md
  x/tokenfactory/spec/06-params.md
  x/tokenfactory/spec/07-permissions.md
  x/tokenfactory/spec/08-client.md
Labels: x/profiles, x/subspaces

#1198 feat!: implement expired subspace fee grant deletion
  .changeset/entries/110685c056cf123bfab42140330553503f10e3ec69b13d2a6edb7c57c99a13d7.yaml
  x/subspaces/abci.go
  x/subspaces/abci_test.go
  x/subspaces/keeper/common_test.go
  x/subspaces/keeper/feegrant.go
  x/subspaces/keeper/feegrant_test.go
  x/subspaces/keeper/genesis_test.go
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v7/store.go
  x/subspaces/legacy/v7/store_test.go
  x/subspaces/module.go
  x/subspaces/simulation/decoder.go
  x/subspaces/simulation/decoder_test.go
  x/subspaces/types/keys.go
  x/subspaces/types/keys_test.go
  x/subspaces/types/models_feegrant.go
  x/subspaces/types/models_feegrant_test.go
Labels: x/subspaces

#1201 docs: fix profile concepts
  x/profiles/spec/02-concepts.md
Labels: x/profiles
