Repository desmos-labs/desmos, pull requests merged in 2023-05, with the labels that each got.

#1124 build(deps): bump cosmos-sdk, cometbft cometbft-db
  .changeset/entries/a9ab12fa36aa608799c52430213523aa1b37fddcf64f76204c344a61a25be86d.yaml
  .github/workflows/sims.yml
  Makefile
  app/sim_test.go
  contrib/images/desmos-builder/Dockerfile
  contrib/images/desmos-cosmovisor/Dockerfile
  go.mod
  go.sum
  x/posts/wasm/common_test.go
  x/reactions/legacy/v2/store_test.go
  x/reactions/wasm/common_test.go
  x/reports/keeper/common_test.go
  x/reports/wasm/common_test.go
Labels: kind/ci, automerge, kind/build

#1127 fix: fix `x/fees` constructor
  app/app.go
  x/fees/module.go
Labels: x/fees

#1125 chore: fix custom genesis sim test config path
  Makefile
Labels: kind/build

#1133 build(deps): bump github.com/cosmwasm/wasmd to v0.40.0-rc.1
  .changeset/entries/b7c4628489c4494a06a0614c1668e6a4e834584657695d2ab54ed3923b819b8e.yaml
  app/app.go
  contrib/images/desmos-builder/Dockerfile
  go.mod
  go.sum
Labels: automerge

#1121 docs(adr): revise ADR-20: Post ownership transfer
  docs/architecture/adr-020-post-ownership-change.md
Labels: kind/adr

#1128 docs(adr): ADR-22: Per-subspace token factory
  docs/architecture/adr-022-per-subspace-token-factory.md
Labels: kind/adr

#1117 docs(adr): ADR-19: Subspace post migration
  docs/architecture/adr-015-improve-chain-link-signature-support.md
  docs/architecture/adr-017-subspace-fee-grant.md
  docs/architecture/adr-018-improve-subspace-treasury-account.md
  docs/architecture/adr-019-subspace-post-moving.md
Labels: kind/adr

#1119 docs(adr): ADR-21: Subspace specific custom fee tokens
  docs/architecture/adr-021-subspace-specific-custom-fee-tokens.md
Labels: kind/adr

#1139 fix: refuse to move default user group
  .changeset/entries/3a100bf361284b082e267a3ae553e65c258a5c083b3d4a706137038eab1f1b51.yaml
  x/reactions/simulation/operations_reactions.go
  x/subspaces/keeper/migrations.go
  x/subspaces/legacy/v6/store.go
  x/subspaces/legacy/v6/store_test.go
  x/subspaces/module.go
  x/subspaces/simulation/operations_groups.go
  x/subspaces/types/models.go
  x/subspaces/types/msgs.go
  x/subspaces/types/msgs_test.go
Labels: x/subspaces

#1142 fix: add missing gov codec
  x/posts/types/codec.go
  x/profiles/types/codec.go
  x/reports/types/codec.go
Labels: x/profiles

#1146 fix: empty address error when using sign command
  app/desmos/cmd/sign/sign.go
Labels: automerge

#1148 fix: update posts API routes to v3
  .changeset/entries/c3f72b0d8901a3059806898a2fb278423c0a3be6194ccb32aa0cb83ff111aee2.yaml
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/desmos/posts/v3/query.proto
  x/posts/types/query.pb.go
  x/posts/types/query.pb.gw.go
Labels: x/CLI

#1149 docs: update posts type URLs
  CHANGELOG.md
  x/posts/client/utils/cli.pb.go
  x/posts/spec/05-events.md
  x/posts/spec/08-client.md
  x/subspaces/client/cli/cli_feegrant_test.go
Labels: docs/improvement, x/subspaces, automerge, x/CLI

#1163 refactor: update EncodingConfig return type
  api/desmos/posts/module/v1/module.pulsar.go
  api/desmos/profiles/module/v1/module.pulsar.go
  api/desmos/reactions/module/v1/module.pulsar.go
  api/desmos/relationships/module/v1/module.pulsar.go
  api/desmos/reports/module/v1/module.pulsar.go
  api/desmos/subspaces/module/v1/module.pulsar.go
  api/desmos/supply/module/v1/module.pulsar.go
  app/app.go
  app/app_config.go
  app/desmos/cmd/chainlink/create_json.go
  app/desmos/cmd/chainlink/create_json_suite_test.go
  app/desmos/cmd/root.go
  app/encoding.go
  app/params/encoding.go
  go.mod
  go.sum
  testutil/network.go
  x/profiles/client/cli/cli_test.go
  x/profiles/client/utils/utils_test.go
  x/profiles/types/account_test.go
  x/relationships/types/expected_keepers.go
Labels: x/profiles, automerge, x/CLI, x/relationships
