Repository desmos-labs/desmos, pull requests merged in 2023-06, with the labels that each got.

#1164 docs: update profiles v2 into v3
  x/profiles/spec/05-events.md
  x/profiles/spec/07-client.md
Labels: x/profiles

#1166 build(ci): remove tty from mutation test script
  scripts/mutation-test.sh
Labels: kind/build

#1170 chore: release v5.1.0
  .changeset/entries/c3f72b0d8901a3059806898a2fb278423c0a3be6194ccb32aa0cb83ff111aee2.yaml
  CHANGELOG.md
  app/app.go
  app/desmos/cmd/chainlink/create_json.go
  app/desmos/cmd/chainlink/create_json_suite_test.go
  app/desmos/cmd/root.go
  app/encoding.go
  app/params/encoding.go
  go.mod
  go.sum
  testutil/network.go
  x/profiles/client/cli/cli_test.go
  x/profiles/client/utils/utils_test.go
  x/profiles/types/account_test.go
Labels: x/profiles, x/CLI

#1157 feat: implement ADR-019: Subspace post migration
  .changeset/entries/8acc72950132eb9a991b3df2c32b1ff3224aeae2cb5a7cd7884c850bea62f133.yaml
  .changeset/entries/a73706cedb0f1b6050a44582af5f9fa912286506fecc922cdc30bd9287eb9393.yaml
  .changeset/entries/c3f72b0d8901a3059806898a2fb278423c0a3be6194ccb32aa0cb83ff111aee2.yaml
  api/desmos/subspaces/module/v1/module.pulsar.go
  proto/desmos/posts/v3/msgs.proto
  x/posts/client/cli/cli_test.go
  x/posts/client/cli/tx.go
  x/posts/keeper/msg_server.go
  x/posts/keeper/msg_server_test.go
  x/posts/keeper/polls.go
  x/posts/simulation/operations.go
  x/posts/simulation/operations_posts.go
  x/posts/types/codec.go
  x/posts/types/events.go
  x/posts/types/keys.go
  x/posts/types/models.go
  x/posts/types/models_test.go
  x/posts/types/msgs.go
  x/posts/types/msgs.pb.go
  x/posts/types/msgs_test.go
Labels: x/CLI

#1174 fix(tests): fix move section simulation test
  x/subspaces/simulation/operations_sections.go
Labels: x/subspaces

#1183 build(ci): fix git_diff input inside lint ci
  .github/workflows/lint.yml
Labels: kind/ci

#1187 refactor: use `RegisterAminoMsg` to register Amino encodings
  x/posts/types/codec.go
  x/posts/types/msgs_owner_transfer_test.go
  x/profiles/types/codec.go
  x/reactions/types/codec.go
  x/relationships/types/codec.go
  x/reports/types/codec.go
  x/subspaces/types/codec.go
Labels: x/profiles, x/subspaces, x/relationships
