Repository desmos-labs/desmos, pull requests merged in 2023-04, with the labels that each got.

#1111 feat: v4.7.1 and v4.8.0 upgrades
  .changeset/entries/2d8a879c79bcf49ebca97d5e4bd683665be9b1d2bf2a92201efb12d0447b7393.yaml
  .github/workflows/on-chain-upgrade.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v300/upgrade.go
  app/upgrades/v310/upgrade.go
  app/upgrades/v320/upgrade.go
  app/upgrades/v400/upgrade.go
  app/upgrades/v430/upgrade.go
  app/upgrades/v441/upgrade.go
  app/upgrades/v450/upgrade.go
  app/upgrades/v460/upgrade.go
  app/upgrades/v470/upgrade.go
  app/upgrades/v471/upgrade.go
  app/upgrades/v480/upgrade.go
  contrib/upgrade_testnet/setup_genesis.py
  x/posts/keeper/genesis_test.go
  x/posts/keeper/hooks_test.go
  x/reactions/keeper/external_hooks.go
  x/reactions/keeper/external_hooks_test.go
  x/reactions/keeper/migrations.go
  x/reactions/legacy/v3/store.go
  x/reactions/legacy/v3/store_test.go
  x/reactions/testutil/expected_keepers_mocks.go
  x/subspaces/keeper/hooks_test.go
Labels: kind/ci, x/subspaces, automerge

#1102 feat!: deprecate `x/params` from `x/fees`
  app/app.go
  proto/desmos/fees/v1/msgs.proto
  x/fees/keeper/common_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/migrations.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/msg_server_test.go
  x/fees/legacy/v2/store.go
  x/fees/legacy/v2/store_test.go
  x/fees/module.go
  x/fees/simulation/params.go
  x/fees/simulation/proposals.go
  x/fees/types/codec.go
  x/fees/types/events.go
  x/fees/types/expected.go
  x/fees/types/keys.go
  x/fees/types/msgs.go
  x/fees/types/msgs.pb.go
  x/fees/types/msgs_test.go
  x/fees/types/params.go
  x/fees/types/params_legacy.go
Labels: automerge, x/fees

#1105 feat!: deprecate `x/params` from `x/posts`
  app/app.go
  proto/desmos/posts/v3/msgs.proto
  x/posts/abci_test.go
  x/posts/keeper/common_test.go
  x/posts/keeper/keeper.go
  x/posts/keeper/migrations.go
  x/posts/keeper/msg_server.go
  x/posts/keeper/msg_server_test.go
  x/posts/keeper/params.go
  x/posts/legacy/v2/store.go
  x/posts/legacy/v2/store_test.go
  x/posts/legacy/v6/store.go
  x/posts/legacy/v6/store_test.go
  x/posts/module.go
  x/posts/simulation/params.go
  x/posts/simulation/proposal.go
  x/posts/types/codec.go
  x/posts/types/expected.go
  x/posts/types/keys.go
  x/posts/types/msgs.go
  x/posts/types/msgs.pb.go
  x/posts/types/msgs_test.go
  x/posts/types/params.go
  x/posts/types/params_legacy.go
  x/posts/wasm/common_test.go
  x/reactions/legacy/v2/store_test.go
  x/reactions/wasm/common_test.go
  x/reports/keeper/common_test.go
  x/reports/wasm/common_test.go
Labels: x/posts, automerge

#1107 feat: add tx fee checker to `x/subspace` ante
  app/ante.go
  x/subspaces/ante/common_test.go
  x/subspaces/ante/fee.go
  x/subspaces/ante/fee_test.go
Labels: x/subspaces, automerge

#1108 feat!: deprecate `x/params` from `x/profiles`
  .golangci.yml
  Makefile
  app/app.go
  client/docs/statik/statik.go
  proto/desmos/profiles/v3/msg_server.proto
  proto/desmos/profiles/v3/msgs_params.proto
  x/posts/wasm/common_test.go
  x/profiles/abci_benchmarks_test.go
  x/profiles/abci_test.go
  x/profiles/keeper/common_test.go
  x/profiles/keeper/keeper.go
  x/profiles/keeper/keeper_params.go
  x/profiles/keeper/keeper_params_test.go
  x/profiles/keeper/migrations.go
  x/profiles/keeper/msg_server_params.go
  x/profiles/keeper/msg_server_params_test.go
  x/profiles/legacy/v9/store.go
  x/profiles/legacy/v9/store_test.go
  x/profiles/module.go
  x/profiles/simulation/params.go
  x/profiles/simulation/proposal.go
  x/profiles/types/codec.go
  x/profiles/types/expected.go
  x/profiles/types/keys.go
  x/profiles/types/models_params.go
  x/profiles/types/models_params_legacy.go
  x/profiles/types/msg_server.pb.go
  x/profiles/types/msgs_params.go
  x/profiles/types/msgs_params.pb.go
  x/profiles/types/msgs_params_test.go
  x/profiles/wasm/common_test.go
  x/reactions/legacy/v2/store_test.go
  x/reactions/wasm/common_test.go
  x/relationships/wasm/common_test.go
  x/reports/keeper/common_test.go
  x/reports/wasm/common_test.go
Labels: x/profiles, automerge

#1118 docs(adr): ADR-20: Post ownership transfer
  docs/architecture/adr-020-post-ownership-change.md
Labels: automerge, kind/adr
