Repository desmos-labs/desmos, pull requests merged in 2023-09, with the labels that each got.

#1231 test: fix gomock controller finish
  x/posts/keeper/common_test.go
  x/posts/keeper/genesis_test.go
  x/posts/keeper/msg_server_test.go
  x/profiles/keeper/common_test.go
  x/reactions/keeper/common_test.go
  x/relationships/keeper/common_test.go
  x/reports/keeper/common_test.go
  x/subspaces/ante/common_test.go
  x/subspaces/ante/tx_checker_test.go
  x/tokenfactory/keeper/common_test.go
Labels: x/profiles, x/subspaces, x/relationships

#1242 docs: fixed search-bar width in mobile version
  docs/src/css/custom.css
  docs/src/theme/SearchBar/styles.css
Labels: kind/bug

#1250 fix: fix missing account number of account creation
  .changeset/entries/a11fd18cbf1a62ef72f896652407063fab25f8576b551025eaa9c8fc78aea5c2.yaml
  x/profiles/keeper/msg_server_dtag_transfers.go
Labels: x/profiles
